@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@font-face {
  font-family: "uni-sans-heavy";
  src: url("./fonts/Uni Sans Heavy.otf") format("opentype"); /* OTF */
  font-weight: bolder;
}
@font-face {
  font-family: "uni-sans-thin";
  src: url("./fonts/Uni Sans Thin.otf") format("opentype"); /* OTF */
}
@font-face {
  font-family: "core-sansd77";
  src: url("./fonts/CoreSansD77CnBlack.otf") format("opentype"); /* OTF */
  font-weight: bolder;
}

@media (min-width: 900px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* overflow-x: hidden; */
  }
}

.home_container {
  max-width: 1500px;
}

.article_image {
  width: 100%;
  /* max-height: 800px;
  height: 590px; */
  height: 50vw;
  max-height: 650px;
  display: block;
}

.video_player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play_button {
  position: absolute;
  top: 47%;
  left: 53%;
  transform: translate(-150%, -50%);
  z-index: 1;
  background-color: transparent;
  border: 0;
  font-size: x-large;
}

.image_text_container {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
  text-transform: uppercase;
  font-family: "uni-sans-heavy", sans-serif;
  color: white;
  font-weight: 800;
}

.image_text {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  padding: 30px;
  display: inline-block;
  font-size: 70px;
  margin: 0 0 0 140px;
}

.spanText {
  margin: 100px 0 0 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  font-size: 30px;
}

.spanText span {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 50px 20px 50px;
  cursor: pointer;
}

.spanText span:hover {
  color: #11ebeb;
}

.video_image_container {
  min-height: 650px;
  background-color: black;
  text-align: center;
  position: relative;
}

.self_video {
  height: 90vh;
  max-height: 750px;
  width: 98vw;
  max-width: 1500px;
  object-fit: cover;
}

.content_video_play_button img {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 47%;
  left: 55%;
  transform: translate(-150%, -50%);
  z-index: 1;
  background-color: transparent;
  border: 0;
  font-size: x-large;
  cursor: pointer;
}

.video_image_desc {
  color: #009fe3;
  font-size: 28px;
  background-color: rgba(12, 12, 12, 0.432);
  width: 40%;
  margin: 0 auto 0 auto;
  transform: translateY(-80px);
  font-family: "Roboto", "system-ui";
}

.work {
  position: relative;
  min-height: 800px;
  max-height: 900px;
  background-color: black;
}

.work .hanging_container {
  z-index: 11;
  position: absolute;
  top: 0;
  width: 300px;
}

.work .box {
  position: relative;
  top: 35px;
  left: 180px;
  width: 70%;
  height: 60px;
  background-color: transparent;
  border: 1.5px solid #f7f1f1;
  box-sizing: border-box;
}

.work .box p {
  margin: 17px 0 0 30px;
  font-size: 20px;
  color: rgb(242, 241, 241);
  font-family: "system-ui";
  font-weight: 600;
}

.work .box2 {
  position: relative;
  top: -15px;
  left: 190px;
  width: 70%;
  height: 60px;
  background-color: transparent;
  border: 1.5px solid #11ebeb;
  box-sizing: border-box;
}

.work .box2:before {
  content: "";
  position: absolute;
  top: 20px;
  left: -49%;
  transform: translateX(-50%);
  width: 180px;
  height: 1px;
  background-color: rgb(230, 223, 223);
}

.work_grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  color: white;
  padding: 200px 0 0 0;
}

.work_grid_container .item {
  min-height: 200px;
}

.item1 {
  text-align: left;
  font-size: 4em;
  padding: 0 50px 0 200px;
  font-family: "system-ui";
  font-weight: 500;
}

.item2 {
  margin: 0 200px 0 10px;
  text-align: left;
  font-family: "Roboto";
}

.item3 {
  padding-left: 100px;
}

.impact_selfimg {
  height: 260px;
  width: 100%;
}

.item4 {
  padding: 0 50px 100px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 900;
}

.item4 p {
  padding: 0px 20px 0 20px;
  font-weight: 400;
}

.tabbed_carousel {
  min-height: 800px;
  max-height: 900px;
  background-color: black;
  color: white;
  position: relative;
  font-family: "system-ui";
}

.tabbed_carousel_container {
  padding: 200px 0 200px 0;
}

.tabbed_carousel .hanging_container {
  z-index: 11;
  position: absolute;
  top: 0;
  width: 300px;
}

.tabbed_carousel .box {
  position: relative;
  top: 35px;
  left: 530px;
  width: 50%;
  height: 50px;
  background-color: transparent;
  border: 1.5px solid #f7f1f1;
  box-sizing: border-box;
}

.tabbed_carousel .box p {
  margin: 12px 0 0 25px;
  font-size: 22px;
  color: rgb(242, 241, 241);
  font-weight: 500;
}

.tabbed_carousel .box2 {
  position: relative;
  top: -5px;
  left: 540px;
  width: 50%;
  height: 50px;
  background-color: transparent;
  border: 1.5px solid #11ebeb;
  box-sizing: border-box;
}

.tabbed_carousel .box2:before {
  content: "";
  position: absolute;
  top: 20px;
  left: -186%;
  transform: translateX(-50%);
  width: 527px;
  height: 1px;
  background-color: rgb(230, 223, 223);
}

.tab_carousel_switcher {
  text-align: center;
}

.tab_carousel_switcher span.active {
  background-color: #11ebeb;
}

.tab_carousel_switcher span {
  padding: 5px 10px 5px 10px;
  margin: 0 0 0 5px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 20px;
}

.carousel_container {
  min-height: 800px;
  max-height: 1200px;
  background-color: black;
  padding: 50px 0 50px 0;
  color: white;
  position: relative;
}

.carousel_container p {
  margin: 100px auto 0 auto;
  width: 60%;
  text-align: center;
  font-family: "system-ui";
  font-weight: 400;
}

.carousel_container .hanging_container {
  z-index: 11;
  position: absolute;
  top: 0;
  width: 300px;
}

.carousel_container .box {
  position: relative;
  top: 35px;
  left: 530px;
  width: 70%;
  height: 60px;
  background-color: transparent;
  border: 1.5px solid #f7f1f1;
  box-sizing: border-box;
}

.carousel_container .box p {
  margin: 18px 0 0 15px;
  font-size: 20px;
  color: rgb(242, 241, 241);
  font-family: "system-ui";
  font-weight: 500;
}

.carousel_container .box2 {
  position: relative;
  top: -15px;
  left: 510px;
  width: 70%;
  height: 60px;
  background-color: transparent;
  border: 1.5px solid #11ebeb;
  box-sizing: border-box;
}

.carousel_container .box2:before {
  content: "";
  position: absolute;
  top: 26px;
  left: -120%;
  transform: translateX(-50%);
  width: 497px;
  height: 1px;
  background-color: rgb(230, 223, 223);
}

.full_image_carousel {
  padding: 100px 0 100px 0;
  position: relative;
}

.overlay {
  position: absolute;
  top: 10%;
  left: 20%;
  height: 80%;
  width: 50%;
  z-index: 11;
  transform: scaleY(110%);
}

.role_grid_container {
  min-height: 1000px;
  padding: 100px 0px 10px 0px;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}

.role_grid_container .item1 {
  margin: 0 50px 0 0px;
  font-size: 49px;
}
.role_grid_container .item1 p {
  font-size: 22px;
}

.role_grid_container .item2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.role_grid_container_img {
  height: 300px;
  width: 300px;
}

.role_grid_container .item2 .links a {
  color: white;
  text-decoration: none;
}

.role_grid_container .item2 .links h3 {
  margin: 10px 0 30px 0;
  cursor: pointer;
}

.role_grid_container .item2 .links h3:hover {
  color: #11ebeb;
}

.role_grid_container .item2 .links h3:hover .arrow_icon {
  transform: translateX(5px) translateY(-5px);
}

@media (max-width: 1250px) {
  .article_image {
    width: 100%;
    height: auto;
    display: block;
    background-color: black;
  }

  .image_text_container {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
    text-transform: uppercase;
    font-family: "uni-sans-heavy", sans-serif;
    color: white;
    font-weight: 800;
  }

  .image_text {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    padding: 30px;
    display: inline-block;
    font-size: 35px;
    margin: 10px auto 0 auto;
  }

  .spanText {
    margin: 80px 0 0px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    font-size: 12px;
  }

  .spanText span {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 0px 10px 0px;
  }

  .video_image_container {
    max-height: 500px;
    min-height: 200px;
    background-color: black;
    text-align: center;
    position: relative;
  }

  .self_video {
    height: 50vw;
    width: 100%;
  }

  .video_image_desc {
    color: #009fe3;
    font-size: 28px;
    background-color: rgba(12, 12, 12, 0.432);
    width: 80%;
    margin: 0 auto 0px auto;
    text-align: center;
  }

  .content_video_play_button img {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 28%;
    left: 60%;
    transform: translate(-150%, -50%);
    z-index: 1;
    background-color: transparent;
    border: 0;
    font-size: x-large;
    cursor: pointer;
  }

  .work {
    position: relative;
    min-height: 800px;
    max-height: 1500px;
    background-color: black;
  }

  .work .hanging_container {
    z-index: 11;
    position: absolute;
    top: 0;
    width: 300px;
  }

  .work .box {
    position: relative;
    top: 35px;
    left: 50%;
    transform: translate(-40%, 0);
    width: 60%;
    height: 50px;
    background-color: transparent;
    border: 1.5px solid #f7f1f1;
    box-sizing: border-box;
  }

  .work .box p {
    margin: 12px 0 0 30px;
    font-size: 20px;
    color: rgb(242, 241, 241);
    font-weight: 900;
  }

  .work .box2 {
    position: relative;
    top: -5px;
    left: 52%;
    transform: translate(-40%, 0);
    width: 60%;
    height: 50px;
    background-color: transparent;
    border: 1.5px solid #11ebeb;
    box-sizing: border-box;
  }

  .work .box2:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0%;
    transform: translate(-106%, 0);
    width: 126px;
    height: 1px;
    background-color: rgb(230, 223, 223);
  }

  .work_grid_container {
    display: grid;
    grid-template-rows: 80px auto auto auto;
    grid-template-columns: auto;
    color: white;
  }

  .item1 {
    text-align: left;
    font-size: 2em;
    font-weight: 500;
    padding: 0 50px 0 10px;
  }

  .item2 {
    margin: 10px 20px 0 10px;
    text-align: left;
    font-weight: 300;
  }

  .item3 {
    padding-left: 0px;
    text-align: center;
  }

  .impact_selfimg {
    height: 260px;
    max-width: 400px;
  }

  .item4 {
    padding: 0 0px 0px 0px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: auto;
    grid-row-gap: 40px;
    font-size: 14px;
  }

  .item4 div {
    width: 60%;
    margin: 0 auto;
  }

  .item4 p {
    margin-left: -50px;
    transform: translateY(-20px);
    text-align: center;
  }

  .tabbed_carousel {
    min-height: 80vh;
    background-color: black;
    color: white;
    position: relative;
  }

  .tabbed_carousel_container {
    padding: 300px 0 100px 0;
  }

  .tabbed_carousel .hanging_container {
    z-index: 11;
    position: absolute;
    top: 130px;
    width: 300px;
  }

  .tabbed_carousel .box {
    position: relative;
    top: 35px;
    left: 50%;
    transform: translate(-40%, 0);
    width: 60%;
    height: 50px;
    background-color: transparent;
    border: 1.5px solid #f7f1f1;
    box-sizing: border-box;
  }

  .tabbed_carousel .box p {
    margin: 16px 0 0 30px;
    font-size: 20px;
    color: rgb(242, 241, 241);
    font-weight: 900;
  }

  .tabbed_carousel .box2 {
    position: relative;
    top: -5px;
    left: 52%;
    transform: translate(-40%, 0);
    width: 60%;
    height: 50px;
    background-color: transparent;
    border: 1.5px solid #11ebeb;
    box-sizing: border-box;
  }

  .tabbed_carousel .box2:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0%;
    transform: translate(-106%, 0);
    width: 126px;
    height: 1px;
    background-color: rgb(230, 223, 223);
  }

  .tab_carousel_switcher {
    margin: 10% auto 1% auto;
    max-width: 100vw;
  }

  .tab_carousel_switcher span {
    padding: 5px 10px 5px 10px;
    margin: 0 0 0 5px;
    border: 1px solid white;
    cursor: pointer;
  }

  .carousel_container p {
    margin: 20% auto 10% auto;
  }

  .carousel_container .hanging_container {
    z-index: 11;
    position: absolute;
    top: 0;
    width: 300px;
  }

  .carousel_container .box {
    position: relative;
    top: 35px;
    left: 116px;
    width: 60%;
    height: 50px;
    background-color: transparent;
    border: 1.5px solid #f7f1f1;
    box-sizing: border-box;
  }

  .carousel_container .box p {
    margin: 16px 0 0 30px;
    font-size: 20px;
    color: rgb(242, 241, 241);
    font-weight: 900;
  }

  .carousel_container .box2 {
    position: relative;
    top: -5px;
    left: 130px;
    width: 60%;
    height: 50px;
    background-color: transparent;
    border: 1.5px solid #11ebeb;
    box-sizing: border-box;
  }

  .carousel_container .box2:before {
    content: "";
    position: absolute;
    top: 20px;
    left: -44%;
    transform: translateX(-50%);
    width: 126px;
    height: 1px;
    background-color: rgb(230, 223, 223);
  }

  .full_image_carousel {
    padding: 50px 0 100px 0;
    position: relative;
  }

  .overlay {
    position: absolute;
    top: -3%;
    left: 3%;
    height: 100%;
    transform: scaleY(90%);
    width: 90%;
  }

  .role_grid_container {
    min-height: 100vh;
    padding: 0px 0px 10px 0px;
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: 250px auto;
    grid-template-columns: auto;
    text-align: left;
  }

  .role_grid_container .item1 {
    margin: 0 10px 0 0px;
    font-size: 29px;
  }

  .role_grid_container_img {
    height: 300px;
    width: 300px;
    margin: 0 auto 50px auto;
  }
}

@media (max-width: 520px) {
  .image_text_container {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 10%);
    z-index: 1;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    width: 90vw;
  }

  .image_text {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    padding: 15px;
    display: inline-block;
    font-size: 30px;
    margin: 10px 0 0 24vw;
  }
}

@media (max-width: 420px) {
  .image_text_container {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    width: 90vw;
    margin-right: 5vw;
  }

  .image_text {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    padding: 15px;
    display: inline-block;
    font-size: 30px;
    margin: 10px 0 0 18vw;
  }

  .spanText {
    margin: 10vw 5vw 0px 5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    font-size: 12px;
  }

  .spanText span {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 0px 10px 0px;
  }

  .video_image_container {
    max-height: 500px;
    min-height: 200px;
    background-color: black;
    text-align: center;
    position: relative;
  }

  .video_image_desc {
    color: #009fe3;
    font-size: 20px;
    background-color: rgba(12, 12, 12, 0.432);
    width: 80%;
    margin: 0 auto 0px auto;
    text-align: center;
  }

  .content_video_play_button img {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 18%;
    left: 60%;
    transform: translate(-150%, 100%);
    z-index: 1;
    background-color: transparent;
    border: 0;
    font-size: x-large;
    cursor: pointer;
  }
}

@media (max-width: 350px) {
  .work .hanging_container {
    z-index: 11;
    position: absolute;
    top: 0;
    max-width: 200px;
  }

  .work .box {
    position: relative;
    top: 35px;
    left: 35vw;
    width: 50vw;
    height: 60px;
    background-color: transparent;
    border: 1.5px solid #f7f1f1;
    box-sizing: border-box;
  }

  .work .box p {
    margin: 20px 0 0 25px;
    font-size: 15px;
    color: rgb(242, 241, 241);
    font-weight: 600;
  }

  .work .box2 {
    position: relative;
    top: -15px;
    left: 30vw;
    width: 50vw;
    height: 60px;
    background-color: transparent;
    border: 1.5px solid #11ebeb;
    box-sizing: border-box;
  }

  .work .box2:before {
    content: "";
    position: absolute;
    top: 20px;
    left: -5vw;
    transform: translateX(-50%);
    width: 20%;
    height: 1px;
    background-color: rgb(230, 223, 223);
  }

  .work {
    min-height: 800px;
    max-height: 1700px;
  }

  .work_grid_container .item1 {
    text-align: left;
    font-size: 1.5em;
    font-weight: 500;
    padding: 0 50px 0 10px;
  }

  .tabbed_carousel_container {
    padding: 100px 0 100px 0;
  }

  .tab_carousel_switcher {
    margin: 10% auto 1% auto;
    max-width: 100vw;
  }

  .tab_carousel_switcher span {
    width: 90vw;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    margin: 0 0 0 5px;
    border: 1px solid white;
    cursor: pointer;
    text-align: center;
  }

  .tabbed_carousel .hanging_container {
    z-index: 11;
    position: absolute;
    top: 0;
    max-width: 200px;
  }

  .tabbed_carousel .box {
    position: relative;
    top: 35px;
    left: 35vw;
    width: 50vw;
    height: 60px;
    background-color: transparent;
    border: 1.5px solid #f7f1f1;
    box-sizing: border-box;
  }

  .tabbed_carousel .box p {
    margin: 20px 0 0 25px;
    font-size: 15px;
    color: rgb(242, 241, 241);
    font-weight: 600;
  }

  .tabbed_carousel .box2 {
    position: relative;
    top: -15px;
    left: 30vw;
    width: 50vw;
    height: 60px;
    background-color: transparent;
    border: 1.5px solid #11ebeb;
    box-sizing: border-box;
  }

  .tabbed_carousel .box2:before {
    content: "";
    position: absolute;
    top: 20px;
    left: -5vw;
    transform: translateX(-50%);
    width: 20%;
    height: 1px;
    background-color: rgb(230, 223, 223);
  }

  .carousel_container .hanging_container {
    z-index: 11;
    position: absolute;
    top: 0;
    max-width: 200px;
  }

  .carousel_container .box {
    position: relative;
    top: 35px;
    left: 35vw;
    width: 50vw;
    height: 60px;
    background-color: transparent;
    border: 1.5px solid #f7f1f1;
    box-sizing: border-box;
  }

  .carousel_container .box p {
    margin: 20px 0 0 25px;
    font-size: 15px;
    color: rgb(242, 241, 241);
    font-weight: 600;
  }

  .carousel_container .box2 {
    position: relative;
    top: -15px;
    left: 30vw;
    width: 50vw;
    height: 60px;
    background-color: transparent;
    border: 1.5px solid #11ebeb;
    box-sizing: border-box;
  }

  .carousel_container .box2:before {
    content: "";
    position: absolute;
    top: 20px;
    left: -15vw;
    transform: translateX(-50%);
    width: 60%;
    height: 1px;
    background-color: rgb(230, 223, 223);
  }

  .carousel_container p {
    margin: 40% auto 10% auto;
  }

  .role_grid_container_img {
    height: 300px;
    width: 90vw;
    margin: 40px auto 0px auto;
  }
}
