.article_image {
  width: 100%;
  height: 590px;
  display: block;
}

.video_player {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.image_text {
  position: absolute;
  top: 45%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
}

.container {
  position: relative;
  width: 300px;
}

.box {
  position: relative;
  top: -45px;
  left: 310px;
  width: 80%;
  height: 80px;
  background-color: transparent;
  border: 1px solid #fbf8f8;
  box-sizing: border-box;
}

.box p {
  margin: 12px 0 0 -40px;
  font-size: x-large;
  color: white;
}

.box2 {
  position: relative;
  top: -140px;
  left: 290px;
  width: 80%;
  height: 80px;
  background-color: transparent;
  border: 1px solid #00ffff;
  box-sizing: border-box;
}

.box2:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 30px;
  background-color: rgb(237, 233, 233);
}

.heading_text {
  font-size: 80px;
  line-height: 0.8;
  color: white;
  text-align: left;
  margin: 0 0 10px 335px;
  width: 40%;

  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.title_section {
  max-width: 70%;
  margin: 100px auto;
  text-align: left;
}

.middletext {
  width: 70%;
  margin: -70px 0 100px 200px;
  text-align: left;
}

.quote_section {
  max-width: 70%;
  margin: 100px 200px 100px 500px;
  text-align: right;
  font-weight: 300;
  font-size: 18px;
}

.prologue {
  max-width: 70%;
  margin: 100px 300px 100px 250px;
  text-align: left;
}

.prologue svg {
  position: relative;
  top: 29px;
}

/* For mobile screens */
@media (max-width: 767px) {
  .article_image {
    height: auto;
  }

  .image_text {
    position: absolute;
    top: 30%;
    left: -10%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .video_player {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .container {
    position: relative;
    width: 300px;
  }

  .box {
    position: relative;
    top: -40px;
    left: 370px;
    width: 40%;
    height: 40px;
    background-color: rgb(29, 133, 202);
    border: 1px solid #fbf8f8;
    box-sizing: border-box;
    z-index: 9;
  }

  .box p {
    margin: 10px 0 0 15px;
    font-size: 15px;
    color: white;
  }

  .box2 {
    position: relative;
    top: -70px;
    left: 380px;
    width: 40%;
    height: 40px;
    background-color: transparent;
    border: 1px solid #00ffff;
    box-sizing: border-box;
  }

  .box2:before {
    content: "";
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 30px;
    background-color: rgb(237, 233, 233);
  }

  .heading_text {
    font-size: 2.6rem;
    line-height: 0.8;
    color: white;
    text-align: left;
    margin: 0 0 0 370px;
    width: 40%;
  }

  .title_section {
    max-width: 90%;
    margin: 50px auto;
    text-align: center;
  }

  .title_section h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .quote_section {
    max-width: 90%;
    margin: 50px auto;
    text-align: center;
    font-size: 16px;
  }

  .middletext {
    width: 70%;
    margin: -30px 0 100px 32px;
    text-align: left;
  }

  .prologue {
    max-width: 90%;
    margin: 50px auto;
    text-align: center;
  }
}
