@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@font-face {
  font-family: "uni-sans-heavy";
  src: url("./fonts/Uni Sans Heavy.otf") format("opentype"); /* OTF */
  font-weight: bolder;
}
@font-face {
  font-family: "uni-sans-thin";
  src: url("./fonts/Uni Sans Thin.otf") format("opentype"); /* OTF */
}
@font-face {
  font-family: "core-sansd77";
  src: url("./fonts/CoreSansD77CnBlack.otf") format("opentype"); /* OTF */
  font-weight: bolder;
}

@media (min-width: 900px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
}

.home_container {
  max-width: 1500px;
  background-color: white;
  position: relative;
}

.article_image {
  width: 100%;
  height: 590px;
  display: block;
}

.video_playerr {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.play_button {
  position: absolute;
  top: 47%;
  left: 53%;
  transform: translate(-150%, -50%);
  z-index: 1;
  background-color: transparent;
  border: 0;
  font-size: x-large;
}

.video_image_container {
  min-height: 570px;
  background-color: black;
  text-align: center;
  position: relative;
}

.self_video {
  height: 90vh;
  max-height: 750px;
  width: 98vw;
  max-width: 1500px;
  object-fit: cover;
  transition: filter 0.2s ease;
}

.self_video:hover {
  cursor: pointer;
  filter: brightness(50%);
}

.content_video_play_button img {
  height: 90px;
  width: 90px;
  position: absolute;
  top: 47%;
  left: 57%;
  transform: translate(-150%, -50%);
  z-index: 1;
  background-color: transparent;
  border: 0;
  font-size: x-large;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
}

.content_video_play_button .red_circle {
  height: 105px;
  width: 105px;
  position: absolute;
  top: 47%;
  left: 58.1%;
  transform: translate(-150%, -50%);
  transition: height 0.2s linear;
}

.video_image_container:hover .red_circle {
  height: 84px;
  width: 84px;
  position: absolute;
  top: 47%;
  left: 56.5%;
  transform: translate(-150%, -50%);
}

.content_video_play_button .red_triangle {
  height: 40px;
  width: 36px;
  position: absolute;
  top: 46.4%;
  left: 53%;
  transform: translate(-150%, -50%);
  transition: top 0.2s linear;
}

.video_image_container:hover .red_triangle {
  height: 40px;
  width: 38px;
  position: absolute;
  top: 47%;
  left: 53.4%;
  transform: translate(-150%, -50%);
  visibility: hidden;
}

.content_video_play_button .triangle_icon {
  height: 41px;
  width: 42px;
  position: absolute;
  top: 43.5%;
  left: 47.4%;
  transform: translate(-150%, -50%);
  transition: top 0.2s linear;
  transform: rotate(-30deg);
  color: var(--skyblue);
  z-index: 2;
  visibility: hidden;
  transition: visibility 0.1s ease;
}

.video_image_container:hover .triangle_icon {
  visibility: visible;
}

.image_textt {
  position: absolute;
  top: 300px;
  left: 0%;
  z-index: 1;
  text-align: left;
  width: 100vw;
  max-width: 500px;
}

.containerr {
  position: relative;
  width: 300px;
  left: -120px;
}

.boxx {
  position: relative;
  top: 30px;
  left: 10px;
  width: 50%;
  height: 70px;
  background-color: transparent;
  border: 1.5px solid var(--skyblue);
  box-sizing: border-box;
}

.boxx p {
  margin: 12px 0 0 0px;
  font-size: x-large;
  color: black;
  text-align: center;
  width: 80%;
  font-family: system-ui;
  font-weight: 400;
}

.boxx2 {
  position: relative;
  top: -50px;
  left: 0px;
  width: 50%;
  height: 70px;
  background-color: transparent;
  border: 1.5px solid black;
  box-sizing: border-box;
}

.boxx2:before {
  content: "";
  position: absolute;
  top: 30px;
  left: -110px;
  transform: translateX(0%);
  width: 110px;
  height: 1.5px;
  background-color: black;
}

.heading_text {
  font-size: clamp(10px, 5vw, 60px);
  line-height: 0.8;
  color: white;
  text-align: left;
  margin: 0 0 0 50px;
  width: 80%;
  font-family: "uni-sans-heavy", sans-serif;
}

.title_section {
  max-width: 70%;
  margin: 100px auto;
  text-align: left;
}

.title_section_title {
  font-size: 45px;
  margin-bottom: 0px;
  font-family: "system-ui";
  font-weight: 600;
}

.title_section_para {
  font-family: "system-ui";
  font-size: 12px;
  padding-left: 5px;
  font-weight: 400;
}

.desc_text {
  padding: 10px 30px 10px 5px;
  width: 90%;
  font-family: "system-ui";
}

.title_section_subheading {
  font-size: 20px;
  font-family: "system-ui";
  padding-left: 5px;
  padding-top: 10px;
}

/* .middle_section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
}

.middle_section img {
  height: auto;
  width: 80%;
  margin: 0 0 10% 10%;
}

.middle_section .text_container_right {
  margin: auto 100px auto 100px;
  text-align: left;
}

.middle_section .text_container_right :first-child {
  font-size: x-large;
  font-weight: 800;
  margin-bottom: 10px;
}
.middle_section .text_container_right :last-child {
  font-size: medium;
  font-weight: 100;
  margin-bottom: 10px;
}



.middle_section .text_container_left :first-child {
  margin-bottom: 10px;
  font-size: x-large;
  font-weight: 800;
  text-align: left;
  padding: 100px 50px 0 100px;
}

.middle_section .text_container_left :last-child {
  font-size: medium;
  font-weight: 100;
  margin-bottom: 10px;
  text-align: left;
  padding: 0 50px 0 50px;
} */

.another_section {
  max-width: 60%;
  min-height: 300px;
  margin: 100px auto;
  text-align: left;
}

.another_title {
  font-size: 20px;
  font-family: "system-ui";
  padding-left: 5px;
  padding-top: 10px;
}

.another_para {
  padding: 10px 30px 10px 5px;
  width: 90%;
  font-size: 16px;
  font-family: "system-ui";
}

.prologue {
  max-width: 70%;
  margin: 100px 300px 100px 250px;
  text-align: left;
  font-family: "system-ui";
}

.prologue ul {
  padding-left: 15px;
  padding-top: 5px;
}

.prologue li::marker {
  color: var(--skyblue);
}

.quote_section {
  max-width: 70%;
  margin: 100px 200px 100px 500px;
  padding-bottom: 100px;
  text-align: right;
  font-size: 18px;
  font-family: "system-ui";
  font-style: italic;
}

.carousel {
  width: 100vw;
  max-width: 1500px;
  background-color: white;
  padding-bottom: 100px;
}

.more_news {
  color: black;
  font-family: "system-ui";
  text-align: center;
  padding-bottom: 100px;
}

/* For mobile screens */
@media (max-width: 900px) {
  .article_image {
    width: 100%;
    height: 50vw;

    display: block;
  }

  .video_playerr {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .play_button {
    position: absolute;
    top: 47%;
    left: 53%;
    transform: translate(-150%, -50%);
    z-index: 1;
    background-color: transparent;
    border: 0;
    font-size: x-large;
  }

  .video_image_container {
    max-height: 500px;
    min-height: 200px;
    background-color: black;
    text-align: left;
    position: relative;
  }

  .self_video {
    height: 50vw;
    width: 100%;
  }

  .content_video_play_button img {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
    background-color: transparent;
    border: 0;
    font-size: x-large;
    cursor: pointer;
  }

  .content_video_play_button .red_circle {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 39.6%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: height 0.2s linear;
  }

  .content_video_play_button:hover .red_circle {
    height: 38px;
    width: 38px;
    position: absolute;
    top: 40.2%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: height 0.2s linear;
  }

  .content_video_play_button .red_triangle {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 42%;
    left: 50.3%;
    transform: translate(-50%, 0%);
    transition: height 0.2s linear;
    transition: top 0.2s linear;
  }

  .content_video_play_button:hover .red_triangle {
    height: 18px;
    width: 16px;
    position: absolute;
    top: 42.4%;
    left: 50.3%;
    transform: translate(-50%, 0%);
    transition: height 0.2s linear;
  }

  .content_video_play_button:hover .triangle_icon {
    visibility: hidden;
  }

  .image_textt {
    position: absolute;
    top: 1%;
    left: 0%;
    transform: translate(10%, 20%);
    z-index: 1;
    text-align: left;
    width: 50%;
    max-width: 70vw;
  }

  .heading_text {
    font-size: clamp(10px, 5vw, 60px);
    line-height: 1;
    color: white;
    text-align: left;
    margin: 10% 0 0 00px;
    width: 60%;
    font-family: "uni-sans-heavy", sans-serif;
  }

  .containerr {
    position: relative;
    width: 300px;
    left: 20px;
  }

  .boxx {
    position: relative;
    top: 30px;
    left: 10px;
    width: 50%;
    height: 70px;
    background-color: transparent;
    border: 1.5px solid var(--skyblue);
    box-sizing: border-box;
  }

  .boxx p {
    margin: 12px 0 0 0px;
    font-size: x-large;
    color: black;
    text-align: center;
    width: 80%;
    font-family: system-ui;
    font-weight: 400;
  }

  .boxx2 {
    position: relative;
    top: -50px;
    left: 0px;
    width: 50%;
    height: 70px;
    background-color: transparent;
    border: 1.5px solid black;
    box-sizing: border-box;
  }

  .boxx2:before {
    content: "";
    position: absolute;
    top: 30px;
    left: -110px;
    transform: translateX(0%);
    width: 110px;
    height: 1.5px;
    background-color: black;
  }

  .para_text {
    color: white;
    margin-top: 5vw;
    font-family: "Roboto";
    width: 70%;
  }

  .title_section {
    max-width: 90%;
    margin: 50px auto;
    text-align: left;
  }

  .title_section h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  /* .middle_section {
    display: block;
  }

  .middle_section .text_container_right {
    margin: auto 100px auto 50px;
    text-align: left;
  }

  .middle_section .text_container_left {
    margin: 0 0px 50px 0px;
    text-align: left;
  }

  .middle_section .text_container_right {
    text-align: left;
  }

  .middle_section .text_container_left :first-child {
    margin-bottom: 10px;
    font-size: x-large;
    font-weight: 800;
    text-align: left;
    padding: 100px 50px 0 50px;
  }

  .middle_section .text_container_left :last-child {
    font-size: medium;
    font-weight: 100;
    margin-bottom: 10px;
    text-align: left;
    padding: 0 50px 0 25px;
  }

  .middle_section img {
    height: 100%;
    width: 70%;
    margin-left: 40px;
  } */

  .another_section {
    max-width: 90%;
    min-height: 300px;
    margin: 100px 20px;
    text-align: left;
  }

  .another_title {
    font-size: 20px;
    font-family: "system-ui";
    padding-left: 5px;
    padding-top: 10px;
  }

  .another_para {
    padding: 10px 30px 10px 5px;
    width: 90%;
    font-size: 16px;
    font-family: "system-ui";
  }

  .quote_section {
    max-width: 90%;
    margin: 50px auto;
    text-align: left;
    font-size: 16px;
  }

  .prologue {
    max-width: 90%;
    margin: 50px auto;
    text-align: left;
  }
}
