@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@font-face {
  font-family: "uni-sans-heavy";
  src: url("./fonts/Uni Sans Heavy.otf") format("opentype"); /* OTF */
  font-weight: bolder;
}
@font-face {
  font-family: "uni-sans-thin";
  src: url("./fonts/Uni Sans Thin.otf") format("opentype"); /* OTF */
}
@font-face {
  font-family: "core-sansd77";
  src: url("./fonts/CoreSansD77CnBlack.otf") format("opentype"); /* OTF */
  font-weight: bolder;
}

@media (min-width: 900px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
}

.home_container {
  max-width: 1500px;
  background-color: white;
  position: relative;
}

.article_image {
  width: 100%;
  height: 650px;
  display: block;
}

.video_player {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.play_button {
  position: absolute;
  top: 47%;
  left: 53%;
  transform: translate(-150%, -50%);
  z-index: 1;
  background-color: transparent;
  border: 0;
  font-size: x-large;
}

.image_text {
  position: absolute;
  top: 0px;
  left: 0%;
  transform: translate(10%, 0%);
  z-index: 1;
  text-align: left;
  width: 80%;
  color: white;
}

.container {
  position: relative;
  width: 300px;
  top: 0px;
}

.box {
  position: relative;
  top: 25px;
  left: 10px;
  width: 80%;
  height: 70px;
  background-color: transparent;
  border: 1px solid #fbf8f8;
  box-sizing: border-box;
}

.box p {
  margin: 12px 0 0 15px;
  font-size: x-large;
  color: white;
  font-family: "system-ui";
}

.box2 {
  position: relative;
  top: -55px;
  left: 0px;
  width: 80%;
  height: 70px;
  background-color: transparent;
  border: 1px solid #e6007e;
  box-sizing: border-box;
}

.box2:before {
  content: "";
  position: absolute;
  top: -31px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 30px;
  background-color: rgb(237, 233, 233);
}

.heading_text {
  font-size: 80px;
  line-height: 0.8;
  color: white;
  text-align: left;
  margin: 0 0 10px 0px;
  width: 50%;

  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.heading_text + p {
  margin: 0 0 10px 0px;
  padding: 10px 0 0 0;
}

.subtitle {
  width: 48%;
  margin: 100px 0 0px 200px;
  text-align: left;
  font-size: 40px;
  font-weight: 600;
  font-family: "system-ui";
}

.middletext {
  width: 70%;
  margin: 30px 0 100px 200px;
  text-align: left;
  font-family: "system-ui";
}

.quote_section {
  width: 30%;
  margin: 50px 16% 50px auto;
  text-align: right;
  font-size: 26px;
}

.lowertext {
  width: 70%;
  margin: 30px 0 100px 200px;
  text-align: left;
  font-family: "system-ui";
}

.carousel {
  width: 100%;
  height: auto;
  margin: auto;
}

/* For mobile screens */
@media (max-width: 900px) {
  .article_image {
    height: auto;
    max-height: 50vw;
    min-height: 300px;
  }

  .image_text {
    position: absolute;
    top: 2vw;
    left: -4%;
    transform: translate(10%, 0%);
    z-index: 1;
    text-align: left;
    width: 80%;
    color: white;
  }

  .video_player {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .container {
    position: relative;
    width: 300px;
    max-width: 90vw;
  }

  .box {
    position: relative;
    top: 20px;
    left: 10px;
    width: 60%;
    height: 60px;
    background-color: transparent;
    border: 1px solid #fbf8f8;
    box-sizing: border-box;
  }

  .box p {
    margin: 14px 0 0 15px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    font-family: "system-ui";
  }

  .box2 {
    position: relative;
    top: -29px;
    left: 20px;
    width: 60%;
    height: 60px;
    background-color: transparent;
    border: 1px solid #e6007e;
    box-sizing: border-box;
  }

  .box2:before {
    content: "";
    position: absolute;
    top: -42px;
    left: 37%;
    transform: translateX(-50%);
    width: 2px;
    height: 30px;
    background-color: rgb(237, 233, 233);
  }

  .heading_text {
    /* font-size: 60px; */
    font-size: 8vw;
    line-height: 0.8;
    color: white;
    text-align: left;
    margin: 0 0 10px 0px;
    width: 60%;
  }

  .heading_text + p {
    margin: 0 0 10px 0px;
    padding: 10px 0 0 0;
  }

  .subtitle {
    width: 70%;
    margin: 30px 0 30px 32px;
    text-align: left;
  }

  .middletext {
    width: 70%;
    margin: 0px 0 100px 32px;
    text-align: left;
  }

  .quote_section {
    width: 70%;
    margin: 25px 0 40px 32px;
    text-align: left;
  }

  .lowertext {
    width: 70%;
    margin: 0px 0 100px 32px;
    text-align: left;
  }

  /* .carousel {
    width: 100%;
    height: auto;
    margin: 10px 0px 50px 0px;
  } */
  .carousel {
    width: 100%;
    height: 80vh;
    margin: 0px auto 100px auto;
  }
}
