@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@font-face {
  font-family: "uni-sans-heavy";
  src: url("./fonts/Uni Sans Heavy.otf") format("opentype"); /* OTF */
  font-weight: bolder;
}
@font-face {
  font-family: "uni-sans-thin";
  src: url("./fonts/Uni Sans Thin.otf") format("opentype"); /* OTF */
}
@font-face {
  font-family: "core-sansd77";
  src: url("./fonts/CoreSansD77CnBlack.otf") format("opentype"); /* OTF */
  font-weight: bolder;
}

@media (min-width: 900px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
}

.home_container {
  max-width: 1500px;
  background-color: white;
  position: relative;
}

.article_imagee {
  width: 100%;
  height: 590px;
  display: block;
}

.video_playerr {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.play_button {
  position: absolute;
  top: 47%;
  left: 53%;
  transform: translate(-150%, -50%);
  z-index: 1;
  background-color: transparent;
  border: 0;
  font-size: x-large;
}

.image_textt {
  position: absolute;
  top: 0px;
  left: 0%;
  transform: translate(10%, 0%);
  z-index: 1;
  text-align: left;
  width: 50vw;
  max-width: 470px;
}

.containerr {
  position: relative;
  width: 300px;
}

.boxx {
  position: relative;
  top: 30px;
  left: 10px;
  width: 70%;
  height: 70px;
  background-color: transparent;
  border: 1px solid #00ffff;
  box-sizing: border-box;
}

.boxx p {
  margin: 12px 0 0 0px;
  font-size: x-large;
  color: white;
  text-align: center;
  width: 80%;
  font-family: system-ui;
  font-weight: 700;
}

.boxx2 {
  position: relative;
  top: -50px;
  left: 0px;
  width: 70%;
  height: 70px;
  background-color: transparent;
  border: 1px solid #fbf8f8;
  box-sizing: border-box;
}

.boxx2:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 30px;
  background-color: rgb(237, 233, 233);
}

.heading_text {
  font-size: 80px;
  line-height: 0.8;
  color: white;
  text-align: left;
  margin: 0 0 0 00px;
  width: 60%;
  font-family: "uni-sans-heavy", sans-serif;
}

.para_text {
  color: white;
  margin-top: 25px;
  font-family: "Roboto";
}

.para_text span {
  color: #00ffff;
}

.title_section {
  max-width: 70%;
  margin: 100px auto;
  text-align: left;
}

.title_section h1 {
  font-size: 45px;
  margin-bottom: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.title_section :nth-child(2) {
  color: black;
  font-size: 12px;
  margin: 0 0 20px 5px;
  text-align: left;
  font-family: "Roboto";
}

.title_section :nth-child(2) span {
  color: #00ffff;
}

.desc_text {
  padding: 10px 30px 10px 5px;
  font-family: "sans-serif";
}

.middle_section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
}

.middle_section img {
  height: auto;
  width: 80%;
  margin: 0 0 10% 10%;
}

.middle_section .text_container_right {
  margin: auto 100px auto 100px;
  text-align: left;
}

.middle_section .text_container_right :first-child {
  font-size: x-large;
  font-weight: 800;
  margin-bottom: 10px;
}
.middle_section .text_container_right :last-child {
  font-size: medium;
  font-weight: 100;
  margin-bottom: 10px;
}

.middle_section .text_container_left {
  /* margin: auto 100px auto 100px;
  text-align: left; */
}

.middle_section .text_container_left :first-child {
  margin-bottom: 10px;
  font-size: x-large;
  font-weight: 800;
  text-align: left;
  padding: 100px 50px 0 100px;
}

.middle_section .text_container_left :last-child {
  font-size: medium;
  font-weight: 100;
  margin-bottom: 10px;
  text-align: left;
  padding: 0 50px 0 50px;
}

.quote_section {
  max-width: 70%;
  margin: 100px 200px 100px 500px;
  text-align: right;
  font-weight: 300;
  font-size: 18px;
}

.prologue {
  max-width: 70%;
  margin: 100px 300px 100px 250px;
  text-align: left;
}

.prologue svg {
  position: relative;
  top: 29px;
}

.prologue .l_arrow {
  display: inline-block;
  margin: 30px 0 100px -50px;
}

/* For mobile screens */
@media (max-width: 767px) {
  .article_imagee {
    width: 100%;
    height: auto;
    min-height: 260px;
    display: block;
  }

  .video_playerr {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .play_button {
    position: absolute;
    top: 47%;
    left: 53%;
    transform: translate(-150%, -50%);
    z-index: 1;
    background-color: transparent;
    border: 0;
    font-size: x-large;
  }

  .image_textt {
    position: absolute;
    top: 0px;
    left: 0%;
    transform: translate(10%, 0%);
    z-index: 1;
    text-align: left;
    width: 90%;
    max-width: 470px;
  }

  .containerr {
    position: relative;
    width: 90vw;
  }

  .boxx {
    position: relative;
    top: 30px;
    left: 10px;
    width: 40%;
    height: 40px;
    background-color: transparent;
    border: 1px solid #00ffff;
    box-sizing: border-box;
  }

  .boxx p {
    margin: 5px 0 0 0px;
    font-size: 16px;
    color: white;
    text-align: center;
    width: 80%;
    font-family: system-ui;
    font-weight: 700;
  }

  .boxx2 {
    position: relative;
    top: -20px;
    left: 0px;
    width: 40%;
    height: 40px;
    background-color: transparent;
    border: 1px solid #fbf8f8;
    box-sizing: border-box;
  }

  .boxx2:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 30px;
    background-color: rgb(237, 233, 233);
  }

  .heading_text {
    /* font-size: 30px; */
    font-size: 7vw;
    line-height: 1;
    color: white;
    text-align: left;
    margin: 10% 0 0 00px;
    width: 60%;
    font-family: "uni-sans-heavy", sans-serif;
  }

  .para_text {
    color: white;
    /* margin-top: 15px; */
    margin-top: 5vw;
    font-family: "Roboto";
    width: 70%;
  }

  .title_section {
    max-width: 90%;
    margin: 50px auto;
    text-align: center;
  }

  .title_section h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .middle_section {
    display: block;
  }

  .middle_section .text_container_right {
    margin: auto 100px auto 50px;
    text-align: left;
  }

  .middle_section .text_container_left {
    margin: 0 0px 50px 0px;
    text-align: left;
  }

  .middle_section .text_container_right {
    text-align: left;
  }

  .middle_section .text_container_left :first-child {
    margin-bottom: 10px;
    font-size: x-large;
    font-weight: 800;
    text-align: left;
    padding: 100px 50px 0 50px;
  }

  .middle_section .text_container_left :last-child {
    font-size: medium;
    font-weight: 100;
    margin-bottom: 10px;
    text-align: left;
    padding: 0 50px 0 25px;
  }

  .middle_section img {
    height: 100%;
    width: 70%;
    margin-left: 40px;
  }

  .quote_section {
    max-width: 90%;
    margin: 50px auto;
    text-align: center;
    font-size: 16px;
  }

  .prologue {
    max-width: 90%;
    margin: 50px auto;
    text-align: center;
  }

  .prologue svg {
    position: static;
    top: auto;
  }

  .prologue h2 {
    display: block;
    margin: 20px auto;
  }

  .l_arrow {
    font-size: large;
  }

  .l_arrow svg {
    position: relative;
    top: 30px;
  }
}
