@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@font-face {
  font-family: "uni-sans-heavy";
  src: url("./fonts/Uni Sans Heavy.otf") format("opentype"); /* OTF */
  font-weight: bolder;
}
@font-face {
  font-family: "uni-sans-thin";
  src: url("./fonts/Uni Sans Thin.otf") format("opentype"); /* OTF */
}
@font-face {
  font-family: "core-sansd77";
  src: url("./fonts/CoreSansD77CnBlack.otf") format("opentype"); /* OTF */
  font-weight: bolder;
}

@media (min-width: 900px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
}

.thumbnail_container {
  overflow: hidden;
}

.home_container {
  max-width: 1500px;
  background-color: white;
  position: relative;
}

.image_text {
  position: absolute;
  top: 250px;
  left: 0%;
  z-index: 1;
  text-align: left;
  width: 100vw;
  max-width: 500px;
}

.heading_text {
  font-size: clamp(10px, 5vw, 60px);
  line-height: 0.8;
  color: white;
  text-align: left;
  margin: 0 0 0 50px;
  width: 80%;
  font-family: "uni-sans-heavy", sans-serif;
}

/* .heading_text + p {
  margin: 0 0 10px 0px;
  padding: 10px 0 0 0;
} */

.subtitle {
  width: 48%;
  margin: 100px 0 0px 200px;
  text-align: left;
  font-size: 40px;
  font-weight: 600;
  font-family: "system-ui";
}

.middletext {
  width: 60%;
  margin: 0px 0 100px 200px;
  text-align: left;
  font-family: "system-ui";
}

.lowertext {
  width: 60%;
  margin: 100px 0 100px 200px;
  text-align: left;
  font-family: "system-ui";
}

.another_section {
  max-width: 60%;
  min-height: 300px;
  margin: 100px 0 50px 200px;
  text-align: left;
}

.another_title {
  font-size: 20px;
  font-family: "system-ui";
  padding-left: 5px;
  padding-top: 10px;
}

.another_para {
  padding: 10px 30px 10px 5px;
  width: 90%;
  font-size: 16px;
  font-family: "system-ui";
}

.quote_section {
  width: 30%;
  margin: 50px 200px 00px 700px;
  padding-bottom: 100px;
  text-align: right;
  font-size: 18px;
  font-family: "system-ui";
  font-style: italic;
}

.quote_section h3 {
  font-weight: 400;
}

.carousel {
  width: 100vw;
  max-width: 1500px;
  background-color: white;
  padding-bottom: 100px;
}

.you_may_like_container {
  min-height: 300px;
  height: 400px;
  width: 100vw;
  max-width: 1500px;
  background-color: rgb(19, 18, 18);
  padding: 100px 0 100px 0;
}

.you_may_like_container .containerr {
  position: relative;
  width: 300px;
  left: -230px;
  top: -40px;
}

.you_may_like_container .boxx {
  position: relative;
  top: 10px;
  left: 300px;
  width: 80%;
  height: 70px;
  background-color: transparent;
  border: 1px solid #fbf8f8;
  box-sizing: border-box;
}

.you_may_like_container .boxx p {
  margin: 12px 0 0 10px;
  font-size: clamp(12px, 1.5vw, 24px);
  color: white;
  font-family: "system-ui";
  font-weight: 500;
}

.you_may_like_container .boxx2 {
  position: relative;
  top: -70px;
  left: 290px;
  width: 80%;
  height: 70px;
  background-color: transparent;
  border: 1px solid #c3006b;
  box-sizing: border-box;
}

.you_may_like_container .boxx2:before {
  content: "";
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 60px;
  background-color: rgb(237, 233, 233);
}

/* For mobile screens */
@media (max-width: 900px) {
  .image_text {
    position: absolute;
    top: 1%;
    left: 0%;
    transform: translate(10%, 20%);
    z-index: 1;
    text-align: left;
    width: 50%;
    max-width: 70vw;
  }

  .heading_text {
    font-size: clamp(10px, 5vw, 60px);
    line-height: 1;
    color: white;
    text-align: left;
    margin: 10% 0 0 00px;
    width: 60%;
    font-family: "uni-sans-heavy", sans-serif;
  }

  /* .heading_text + p {
    margin: 0 0 10px 0px;
    padding: 10px 0 0 0;
  } */

  .subtitle {
    width: 90%;
    margin: 30px 0 30px 12px;
    text-align: left;
    font-size: clamp(16px, 6vw, 70px);
  }

  .middletext {
    width: 90%;
    margin: 0px 0 100px 12px;
    text-align: left;
  }

  .quote_section {
    width: 70%;
    margin: 25px 0 40px 12px;
    text-align: left;
  }

  .lowertext {
    width: 90%;
    margin: 50px 0 100px 12px;
    text-align: left;
  }

  .another_section {
    max-width: 90%;
    min-height: 300px;
    margin: 100px 20px;
    text-align: left;
  }

  .another_title {
    font-size: 20px;
    font-family: "system-ui";
    padding-left: 5px;
    padding-top: 10px;
  }

  .another_para {
    padding: 10px 30px 10px 5px;
    width: 90%;
    font-size: 16px;
    font-family: "system-ui";
  }

  .quote_section {
    max-width: 50%;
    margin: 50px 0 50px 12px;
    text-align: left;
    font-size: 16px;
  }

  .you_may_like_container .containerr {
    position: relative;
    width: 300px;
    left: -300px;
    top: -75px;
  }

  .you_may_like_container .boxx {
    position: relative;
    top: 10px;
    left: 330px;
    width: 50%;
    height: 40px;
    background-color: transparent;
    border: 1px solid #fbf8f8;
    box-sizing: border-box;
  }

  .you_may_like_container .boxx p {
    margin: 14px 0 0 25px;
    font-size: 12px;
    color: white;
  }

  .you_may_like_container .boxx2 {
    position: relative;
    top: -23px;
    left: 338px;
    width: 50%;
    height: 40px;
    background-color: transparent;
    box-sizing: border-box;
  }

  .you_may_like_container .boxx2:before {
    content: "";
    position: absolute;
    top: -37px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 30px;
    background-color: rgb(237, 233, 233);
  }
}

@media (max-width: 750px) {
  .quote_section {
    max-width: 90%;
    margin: 50px 30px;
    text-align: left;
    font-size: 16px;
  }
}
