@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@font-face {
  font-family: "uni-sans-heavy";
  src: url("./fonts/Uni Sans Heavy.otf") format("opentype"); /* OTF */
  font-weight: bolder;
}
@font-face {
  font-family: "uni-sans-thin";
  src: url("./fonts/Uni Sans Thin.otf") format("opentype"); /* OTF */
}
@font-face {
  font-family: "core-sansd77";
  src: url("./fonts/CoreSansD77CnBlack.otf") format("opentype"); /* OTF */
  font-weight: bolder;
}

@media (min-width: 900px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
}

.home_container {
  max-width: 1500px;
  background-color: white;
  position: relative;
}

.article_image {
  width: 100%;
  height: 590px;
  display: block;
}

.video_player {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.play_button {
  position: absolute;
  top: 47%;
  left: 53%;
  transform: translate(-150%, -50%);
  z-index: 1;
  background-color: transparent;
  border: 0;
  font-size: x-large;
}

.image_text {
  position: absolute;
  top: 3.5%;
  left: 20%;
  transform: translate(-20%, 0%);
  z-index: 1;
  color: white;
  text-align: center;
  width: 90%;
}

.container {
  position: relative;
  width: 300px;
}

.box {
  position: relative;
  top: -58px;
  left: 10px;
  width: 70%;
  height: 60px;
  background-color: rgb(29, 133, 202);
  border: 1px solid #fbf8f8;
  box-sizing: border-box;
}

.box p {
  margin: 10px 0 0 -40px;
  font-size: x-large;
  color: white;
  font-family: "system-ui";
  font-weight: 500;
}

.box2 {
  position: relative;
  top: -110px;
  left: 20px;
  width: 70%;
  height: 60px;
  background-color: transparent;
  border: 1px solid #00ffff;
  box-sizing: border-box;
}

.box2:before {
  content: "";
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 30px;
  background-color: rgb(237, 233, 233);
}

.heading_text {
  font-size: 80px;
  line-height: 0.8;
  color: white;
  text-align: left;
  margin: 0 0 10px 5px;
  width: 50%;

  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.heading_text ~ p {
  text-align: left;
  margin: 0 0 10px 5px;
  width: 50%;
  font-family: "system-ui";
}

.title_section {
  max-width: 70%;
  margin: 100px auto;
  text-align: left;
  font-family: "system-ui";
}

.middletext {
  width: 70%;
  margin: -70px 0 100px 200px;
  text-align: left;
  font-family: "system-ui";
}

.quote_section {
  max-width: 70%;
  margin: 100px 200px 100px 500px;
  text-align: right;
  font-weight: 300;
  font-size: 18px;
  font-family: "system-ui";
}

.prologue {
  max-width: 70%;
  margin: 00px 300px 0px 250px;
  text-align: left;
  min-height: 200px;
  padding-bottom: 0px;
  font-family: "Roboto";
}

.prologue svg {
  position: relative;
  top: 29px;
}

/* For mobile screens */
@media (max-width: 900px) {
  .article_image {
    height: auto;
  }

  @media (max-width: 767px) {
    .box p {
      text-align: center;
    }
  }

  .image_text {
    position: absolute;
    top: 3.5%;
    left: 20%;
    transform: translate(-20%, 0%);
    z-index: 1;
    color: white;
    text-align: center;
    width: 90%;
  }

  .video_player {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .container {
    position: relative;
    width: 300px;
    height: 10vw;
  }

  .box {
    position: relative;
    top: -58px;
    left: 10px;
    width: 70%;
    height: 60px;
    background-color: rgb(29, 133, 202);
    border: 1px solid #fbf8f8;
    box-sizing: border-box;
  }

  .box p {
    margin: 10px 0 0 -40px;
    font-size: 22px;
    color: white;
    font-family: "system-ui";
    font-weight: 500;
  }

  .box2 {
    position: relative;
    top: -110px;
    left: 20px;
    width: 70%;
    height: 60px;
    background-color: transparent;
    border: 1px solid #00ffff;
    box-sizing: border-box;
  }

  .box2:before {
    content: "";
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 30px;
    background-color: rgb(237, 233, 233);
  }

  .heading_text {
    font-size: 8vw;
    line-height: 0.8;
    color: white;
    text-align: left;
    margin: 0 0 10px 5px;
    width: 50%;
  }

  .title_section {
    max-width: 90%;
    margin: 50px auto;
    text-align: center;
  }

  .title_section h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .quote_section {
    max-width: 90%;
    margin: 50px auto;
    text-align: center;
    font-size: 16px;
  }

  .middletext {
    width: 90%;
    margin: -30px 0 100px 32px;
    text-align: left;
  }

  .prologue {
    max-width: 90%;
    margin: 50px auto;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .container {
    position: relative;
    width: 50vw;
    height: 10vw;
  }

  .box {
    position: relative;
    top: -58px;
    left: 10px;
    width: 70%;
    height: 40px;
    background-color: rgb(29, 133, 202);
    border: 1px solid #fbf8f8;
    box-sizing: border-box;
  }

  .box p {
    margin: 10px 0 0 0px;
    font-size: 3vw;
    color: white;
    font-family: "system-ui";
    font-weight: 500;
  }

  .box2 {
    position: relative;
    top: -90px;
    left: 20px;
    width: 70%;
    height: 40px;
    background-color: transparent;
    border: 1px solid #00ffff;
    box-sizing: border-box;
  }

  .box2:before {
    content: "";
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 30px;
    background-color: rgb(237, 233, 233);
  }
}
