@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@font-face {
  font-family: "uni-sans-heavy";
  src: url("./fonts/Uni Sans Heavy.otf") format("opentype"); /* OTF */
  font-weight: bolder;
}
@font-face {
  font-family: "uni-sans-thin";
  src: url("./fonts/Uni Sans Thin.otf") format("opentype"); /* OTF */
}
@font-face {
  font-family: "core-sansd77";
  src: url("./fonts/CoreSansD77CnBlack.otf") format("opentype"); /* OTF */
  font-weight: bolder;
}

@media (min-width: 900px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
}

.home_container {
  max-width: 1500px;
  background-color: white;
  position: relative;
}

.article_image {
  width: 100%;
  height: 590px;
  display: block;
}

.video_player {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.image_text {
  position: absolute;
  top: 9%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  width: 60%;
}

.heading_text {
  font-size: 80px;
  line-height: 0.8;
  color: white;
  text-align: left;
  margin: 0px 0 10px 0px;
  width: 40%;
  color: rgb(173, 7, 85);
  font-family: "system-ui";
}

.title_grid {
  padding: 60px 0px 100px 0px;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-around;
  background-color: black;
  color: white;
}

.subtitle {
  width: 50%;
  margin: 100px 0px 100px 80px;
  text-align: left;
  font-size: 30px;
}

.subtitle h2 {
  font-weight: 600;
  font-family: "Roboto";
}

.middletext {
  width: 60%;
  margin: 100px 0 100px 0px;
  text-align: left;
}

.middlemedia {
  transform: translateY(4px);
}

.play_button {
  position: absolute;
  top: 47%;
  left: 53%;
  transform: translate(-150%, -50%);
  z-index: 1;
  background-color: transparent;
  border: 0;
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.quote_divider {
  padding: 60px 0px 100px 0px;
  display: grid;
  grid-template-columns: 50% 40%;
  justify-content: space-evenly;
  text-align: left;
  background-color: black;
  color: white;
  border: 10px solid rgb(12, 0, 0);
  min-height: 300px;
}

.quote_section {
  width: 40%;
  margin: 50px 0px 0px 250px;
  text-align: right;
  font-size: 16px;
}

.lowertext {
  width: 40%;
  margin: 50px 0px 0px 0px;
  text-align: left;
}

.carousel {
  height: auto;
}

.footer_border {
  height: 1px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid rgb(185, 233, 241);
}

/* For mobile screens */
@media (max-width: 767px) {
  .article_image {
    height: auto;
  }

  .video_player {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .image_text {
    top: 5%;
  }

  .heading_text {
    font-size: 9vw;
    line-height: 0.8;
    color: white;
    text-align: left;
    margin: 0px 0 10px 0px;
    width: 40%;
    color: rgb(241, 88, 159);
    font-family: "system-ui";
  }

  .title_grid {
    padding: 60px 0px 100px 0px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    background-color: black;
    color: white;
  }

  .subtitle {
    width: 90%;
    margin: 30px 0 30px 32px;
    text-align: left;
  }

  .middletext {
    width: 70%;
    margin: 0px 0 100px 32px;
    text-align: left;
  }

  .quote_section {
    width: 70%;
    margin: 25px 0 40px 32px;
    text-align: left;
  }

  .lowertext {
    width: 70%;
    margin: 0px 0 100px 32px;
    text-align: left;
  }

  .carousel {
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 500px) {
  .subtitle {
    width: 50%;
    margin: 100px 0px 100px 30px;
    text-align: left;
    font-size: 8vw;
  }

  .play_button {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
    background-color: transparent;
    border: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

  .quote_divider {
    padding: 60px 0px 10px 0px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    text-align: left;
    background-color: black;
    color: white;
    border: 10px solid rgb(12, 0, 0);
    min-height: 300px;
  }

  .quote_section {
    width: 70%;
    margin: 25px 0 40px 32px;
    font-size: 16px;
    text-align: left;
  }

  .lowertext {
    width: 70%;
    margin: 0px 0 100px 32px;
    text-align: left;
  }
}
