@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@font-face {
  font-family: "uni-sans-heavy";
  src: url("./fonts/Uni Sans Heavy.otf") format("opentype"); /* OTF */
  font-weight: bolder;
}
@font-face {
  font-family: "uni-sans-thin";
  src: url("./fonts/Uni Sans Thin.otf") format("opentype"); /* OTF */
}
@font-face {
  font-family: "core-sansd77";
  src: url("./fonts/CoreSansD77CnBlack.otf") format("opentype"); /* OTF */
  font-weight: bolder;
}

@media (min-width: 900px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
}

.thumbnail_container {
  overflow: hidden;
  background-color: black;
}

.home_container {
  max-width: 1500px;
  position: relative;
}

/* .article_image {
  width: 100%;
  height: 50vw;
  max-height: 600px;
  display: block;
  pointer-events: none;
} */

.mouth_image {
  position: absolute;
  top: 9.3%;
  left: 51.5%;
  transform: translate(-50%, -50%);
  height: 13%;
  max-height: 530px;
  width: 32%;
  pointer-events: none;
}

/* .video_player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* .play_button {
  position: absolute;
  top: 47%;
  left: 53%;
  transform: translate(-150%, -50%);
  z-index: 1;
  background-color: transparent;
  border: 0;
  font-size: x-large;
  cursor: pointer;
} */

.image_text_container {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-transform: uppercase;
  /* font-family: "uni-sans-heavy", sans-serif; */
  font-family: "system-ui";
  z-index: 1;
  width: 78%;
}

.image_text {
  background-color: rgba(225, 18, 135, 0.514);
  color: #ffffff;
  padding: 10px;
  font-size: clamp(30px, 8vw, 8em);
  font-weight: 700;
  text-align: center;
}

.down_arrow {
  height: 40px;
  width: 40px;
  margin: 40px auto 0 auto;
  padding-left: 50%;
  cursor: pointer;
  transition: transform 0.4s ease;
  transform: translateY(-190px);
}

.down_arrow:hover {
  transform: translateY(-180px);
}

.home_news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px;
  background-color: black;
  padding: 100px 30px 100px 50px;
  max-height: 800px;
}

.home_news_content {
  color: #e0e0e0;
  font-size: clamp(2em, 5.9vw, 3.3em);
  margin: 90px 40px 0 3vw;
  font-family: "system-ui";
  line-height: 0.8;
  transform: scaleY(1.2);
  width: 70%;
  z-index: 4;
}

.home_news_content span {
  color: rgba(145, 31, 99, 0.74);
  /* text-shadow: 27px 2px 0px rgb(172, 55, 125); */
  position: relative;
  z-index: 5;
  padding-left: 20px;
}

.home_news_content span::after {
  content: "NEWS";
  position: absolute;
  color: #c3006b;
  left: 0;
  top: 20px;
}

@keyframes visible {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes spin {
  0% {
    /* filter: brightness(100%); */
    content: "ORIGINAL";
  }
  5% {
    /* filter: brightness(50%); */
  }
  10% {
    /* filter: brightness(100%); */
  }
  15% {
    content: "DIGITAL";
    /* filter: brightness(50%); */
  }
  20% {
    /* filter: brightness(100%); */
  }
  25% {
    /* filter: brightness(50%); */
  }
  30% {
    /* filter: brightness(100%); */
    content: "MUSIC";
  }
  35% {
    /* filter: brightness(50%); */
  }
  40% {
    /* filter: brightness(100%); */
  }
  45% {
    content: "FILM";
    /* filter: brightness(50%); */
  }
  50% {
    /* filter: brightness(100%); */
  }
  55% {
    /* filter: brightness(50%); */
  }
  60% {
    /* filter: brightness(100%); */
    content: "PODCAST";
  }
  65% {
    /* filter: brightness(50%); */
  }
  70% {
    /* filter: brightness(100%); */
  }
  75% {
    content: "BTS";
    /* filter: brightness(50%); */
  }
  80% {
    /* filter: brightness(100%); */
  }
  85% {
    /* filter: brightness(50%); */
  }
  90% {
    /* filter: brightness(100%); */
    content: "REALNESS";
  }
  95% {
    /* filter: brightness(50%); */
  }
  100% {
    /* filter: brightness(100%); */
  }
}

@keyframes brightness {
  0% {
    filter: brightness(100%);
    /* opacity: 1; */
  }
  5% {
    filter: brightness(50%);
  }
  10% {
    filter: brightness(100%);
  }
  15% {
    filter: brightness(50%);
  }
  20% {
    filter: brightness(100%);
  }
  25% {
    filter: brightness(50%);
  }
  30% {
    filter: brightness(100%);
  }
  35% {
    filter: brightness(50%);
  }
  40% {
    filter: brightness(100%);
  }
  45% {
    filter: brightness(50%);
  }
  50% {
    filter: brightness(100%);
  }
  55% {
    filter: brightness(50%);
  }
  60% {
    filter: brightness(100%);
  }
  65% {
    filter: brightness(50%);
  }
  70% {
    filter: brightness(100%);
  }
  75% {
    filter: brightness(50%);
  }
  80% {
    filter: brightness(100%);
  }
  85% {
    filter: brightness(50%);
  }
  90% {
    filter: brightness(100%);
    /* opacity: 1; */
  }
  95% {
    filter: brightness(50%);
    /* opacity: 0; */
  }
  99% {
  }
  100% {
    filter: brightness(100%);
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
    visibility: visible;
  }
  88% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.home_news:hover .word {
  animation: visible 2.1s linear 0.5s infinite;
}

.home_news:hover .home_news_content {
  animation: brightness 4s linear 0.5s infinite;
  /* animation: blink 4s linear 0.5s infinite, brightness 4s linear 0.5s infinite; */
  /* visibility: hidden; */
}

.home_news:hover span::after {
  visibility: visible;
  animation: spin 2.5s linear 0.5s infinite;
}

.home_news_element {
}

.news_para {
  color: white;
  font-family: "system-ui";
  padding: 25% 10% 10% 15%;
  margin: 2% auto auto auto;
  font-size: clamp(10px, 2vw, 18px);
  border: 2px solid #c3006b;
  height: 50%;
  width: 55%;
  transition: border-radius 0.4s ease;
  overflow: hidden;
}

.inbetween_plan {
  color: #c3006b;
}

.news_para:hover {
  border-radius: 50%;
}

.video_image_container {
  min-height: 700px;
  background-color: black;
  text-align: center;
  position: relative;
  max-height: 800px;
}

.self_video:hover {
  cursor: pointer;
  filter: brightness(50%);
}

.self_video {
  height: 90%;
  width: 98%;
  object-fit: cover;
  transition: filter 0.2s ease;
}

.content_video_play_button img {
  height: 90px;
  width: 90px;
  position: absolute;
  top: 47%;
  left: 57%;
  transform: translate(-150%, -50%);
  z-index: 1;
  background-color: transparent;
  border: 0;
  font-size: x-large;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
}

.content_video_play_button .red_circle {
  height: 105px;
  width: 105px;
  position: absolute;
  top: 47%;
  left: 58.1%;
  transform: translate(-150%, -50%);
  transition: height 0.2s linear;
}

.content_video_play_button:hover .red_circle {
  height: 84px;
  width: 84px;
  position: absolute;
  top: 47%;
  left: 56.5%;
  transform: translate(-150%, -50%);
}

.content_video_play_button .red_triangle {
  height: 40px;
  width: 36px;
  position: absolute;
  top: 46.4%;
  left: 53%;
  transform: translate(-150%, -50%);
  transition: top 0.2s linear;
}

.content_video_play_button:hover .red_triangle {
  height: 40px;
  width: 38px;
  position: absolute;
  top: 47%;
  left: 53.4%;
  transform: translate(-150%, -50%);
  visibility: hidden;
}

.content_video_play_button .triangle_icon {
  height: 41px;
  width: 42px;
  position: absolute;
  top: 43.5%;
  left: 47.4%;
  transform: translate(-150%, -50%);
  transition: top 0.2s linear;
  transform: rotate(-30deg);
  color: #c3006b;
  z-index: 2;
  visibility: hidden;
  transition: visibility 0.1s ease;
}

.content_video_play_button:hover .triangle_icon {
  visibility: visible;
}

.bigmouth_cards_section {
  width: 100vw;
  max-width: 1500px;
  background-color: black;
}

.carousel_heading {
  text-transform: uppercase;
  color: white;
  font-family: "system-ui";
  padding-top: 100px;
  padding-left: 50px;
}

.show_more {
  padding: 50px auto 50px auto;
  transition: color 0.2s ease;
  color: white;
  font-family: "system-ui";
  text-align: center;
  background-color: black;
}

.show_more p {
  text-align: center;
  margin-bottom: 100px;
  margin: 0 auto 0 auto;
  width: 200px;
}

.show_more p:hover {
  color: #00e6d4;
}

.show_more p:hover .plus {
  color: #00e6d4;
}

.show_more span {
  padding-left: 50px;
}

.plus_image {
  height: 40px;
  width: 40px;
  padding-bottom: 10px;
}

.show_more .vee {
  transform: translate(-47px, 15px);
  opacity: 0;
  transition: opacity 0.2s linear;
}

.show_more p:hover .color_change path {
  fill: #00e6d4;
}

.show_more p:hover .vee {
  opacity: 1;
}

@media (max-width: 1050px) {
  .mouth_image {
    position: absolute;
    top: 8.5%;
    left: 53%;
    transform: translate(-50%, -50%);
    height: 9.5%;
    max-height: 530px;
    width: 28%;
  }
}

@media (max-width: 900px) {
  .bigmouth_cards_section {
  }

  /* .article_image {
    width: 100%;
    height: 400px;
    display: block;
    background-color: black;
  } */

  .mouth_image {
    position: absolute;
    top: 5%;
    left: 53%;
    transform: translate(-50%, -50%);
    height: 45vw;
    max-height: 530px;
    width: 32%;
  }

  .image_text_container {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-transform: uppercase;
    font-family: "uni-sans-heavy", sans-serif;
    z-index: 1;
    width: 78%;
  }

  .image_text {
    background-color: rgba(225, 18, 135, 0.514);
    color: #ffffff;
    padding: 10px;
    font-size: clamp(30px, 8vw, 8em);
    text-align: center;
  }

  .down_arrow {
    height: 20px;
    width: 20px;
    margin: 0px auto 0 auto;
    padding-left: 49%;
    transform: translateY(-50px);
  }

  .down_arrow:hover {
    transform: translateY(-40px);
  }

  .home_news {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    background-color: black;
    padding: 100px 30px 100px 0px;
    row-gap: 0px;
    min-height: 900px;
  }

  .home_news_content {
    color: white;
    font-size: 2em;
    margin: 0px auto 40px auto;
    width: 70vw;
    line-height: 1;
  }

  .home_news_content span {
    color: rgba(145, 31, 99, 0.74);
    position: relative;
    z-index: 5;
    padding-left: 20px;
  }

  .home_news_content span::after {
    content: "NEWS";
    position: absolute;
    color: #c3006b;
    left: 0;
    top: 10px;
  }

  .home_news_element {
    position: relative;
    margin-bottom: 50px;
  }

  .home_news_element .selfimg {
    height: 68vw;
    width: 68vw;
    margin-left: 15vw;
  }

  .video_image_container {
    min-height: 100px;
    background-color: black;
    text-align: center;
  }

  .self_video {
    height: 120%;
    width: 100%;
  }

  .content_video_play_button img {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
    background-color: transparent;
    border: 0;
    font-size: x-large;
    cursor: pointer;
  }

  .content_video_play_button .red_circle {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 39.6%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: height 0.2s linear;
  }

  .content_video_play_button:hover .red_circle {
    height: 38px;
    width: 38px;
    position: absolute;
    top: 40.2%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: height 0.2s linear;
  }

  .content_video_play_button .red_triangle {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 42%;
    left: 50.3%;
    transform: translate(-50%, 0%);
    transition: height 0.2s linear;
    transition: top 0.2s linear;
  }

  .content_video_play_button:hover .red_triangle {
    height: 18px;
    width: 16px;
    position: absolute;
    top: 42.4%;
    left: 50.3%;
    transform: translate(-50%, 0%);
    transition: height 0.2s linear;
  }

  .content_video_play_button:hover .triangle_icon {
    visibility: hidden;
  }

  .carousel_heading {
    text-transform: uppercase;
    color: white;
    font-family: "system-ui";
    padding-top: 100px;
    padding-left: 10px;
  }

  .show_more span {
    color: #11ebeb;
    font-size: 50px;
    margin-left: 5%;
    cursor: pointer;
    padding-left: 40px;
  }

  .show_more .vee {
    transform: translate(-46px, 14px);
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  .show_more p {
    margin-bottom: 0px;
  }
}

@media (max-width: 650px) {
  .mouth_image {
    position: absolute;
    top: 4.4%;
    left: 53%;
    transform: translate(-50%, -50%);
    height: 47vw;
    max-height: 530px;
    width: 32%;
  }
}

@media (max-width: 500px) {
  .image_text_container {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-transform: uppercase;
    font-family: "uni-sans-heavy", sans-serif;
    z-index: 1;
    width: 78%;
  }

  .mouth_image {
    position: absolute;
    top: 8%;
    left: 53%;
    transform: translate(-50%, -50%);
    height: 47vw;
    max-height: 530px;
    width: 32%;
  }

  .down_arrow {
    height: 25px;
    width: 25px;
    padding-left: 45%;
    margin: 0px auto 0 auto;
    transform: translateY(-60px);
  }

  .down_arrow:hover {
    transform: translateY(-50px);
  }

  .home_news {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 80vw;
    background-color: black;
    padding: 100px 30px 100px 0px;
    row-gap: 100px;
    min-height: 200px;
  }

  .home_news_content {
    color: white;
    font-size: 5vw;
    margin: 0px auto 40px auto;
    width: 70vw;
  }

  .home_news_content span::after {
    content: "NEWS";
    position: absolute;
    color: #c3006b;
    left: 2px;
    top: 5px;
  }

  .home_news_element {
    position: relative;
  }

  .home_news_element .selfimg {
    height: 68vw;
    width: 68vw;
    margin-left: 50px;
  }

  .content_video_play_button .red_circle {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 39.2%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: height 0.2s linear;
  }

  .content_video_play_button:hover .red_circle {
    height: 38px;
    width: 38px;
    position: absolute;
    top: 40.2%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: height 0.2s linear;
  }

  .content_video_play_button .red_triangle {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 42%;
    left: 50.3%;
    transform: translate(-50%, 0%);
    transition: height 0.2s linear;
    transition: top 0.2s linear;
  }

  .content_video_play_button:hover .red_triangle {
    height: 18px;
    width: 16px;
    position: absolute;
    top: 43.7%;
    left: 50.3%;
    transform: translate(-50%, 0%);
    transition: height 0.2s linear;
  }
}
