.article_image {
  width: 100%;
  height: 590px;
  display: block;
}

.video_player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play_button {
  position: absolute;
  top: 47%;
  left: 53%;
  transform: translate(-150%, -50%);
  z-index: 1;
  background-color: transparent;
  border: 0;
  font-size: x-large;
}

.image_text_container {
  position: absolute;
  top: 150px;
  left: 370px;
  z-index: 1;
  max-width: 500px;
  text-transform: uppercase;
  color: white;
  font-size: 70px;
  font-weight: 800;
}

.image_text_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.image_text {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  padding: 30px;
  display: inline-block;
}

.mission {
  background-image: url("./3xB-Animation.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  width: 100%;
  color: white;
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr auto;
  background-color: black;
  position: relative;
}

.mission .missiontext_container {
  grid-row: 2/3;
  text-align: start;
  justify-content: right;
  font-size: medium;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mission .missiontext_container .left {
  grid-column: 1/2;
  justify-content: left;
  margin: 10px 50px 0 100px;
  text-align: left;
  font-size: x-large;
}
.mission .missiontext_container .right {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-self: flex-end;
  margin: 50px 50px 100px 50px;
  text-align: left;
  font-size: 14px;
  list-style-type: square;
}
.mission .missiontext_container .right ::marker {
  color: rgb(237, 17, 171);
}

.mission .container {
  grid-row: 1/2;
  position: absolute;
  left: 300px;
}

.mission .container .box {
  position: relative;
  top: 50px;
  left: 0px;
  width: 100%;
  height: 80px;
  background-color: transparent;
  border: 1.5px solid #e4e1e1;
  box-sizing: border-box;
}

.mission .container .box p {
  margin: 32px 0 0 27px;
  font-size: x-large;
  color: rgb(244, 237, 237);
  font-weight: 900;
}

.mission .container .box2 {
  position: relative;
  top: -15px;
  left: 15px;
  width: 100%;
  height: 80px;
  background-color: transparent;
  border: 1.5px solid #11ebeb;
  box-sizing: border-box;
}

.box2:before {
  content: "";
  position: absolute;
  top: -70px;
  left: 47%;
  transform: translateX(-50%);
  width: 2px;
  height: 55px;
  background-color: rgb(230, 223, 223);
}

.do_it {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 500px);
  gap: 10px;
  background-color: black;
  color: white;
}

.do_it .item {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  margin: 0 50px 0 150px;
  text-align: left;
}

.do_it .item a {
  color: white;
  text-decoration: none;
}

.do_it .img_item {
  margin: 100px 50px 0 0px;
  width: 60%;
  height: 70%;
}

.both_carousel_container {
  position: relative;
  overflow: hidden;
}

@media (max-width: 900px) {
  .article_image {
    width: 100%;
    height: 300px;
    display: block;
  }

  .image_text_container {
    position: absolute;
    top: 12%;
    left: 20%;
    z-index: 1;
    max-width: 300px;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    font-weight: 800;
  }

  .image_text_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .image_text {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    padding: 30px;
    display: inline-block;
  }

  .mission {
    background-image: url("./3xB-Animation.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
    width: 100%;
    color: white;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr auto;
    background-color: black;
    position: relative;
  }

  .mission .missiontext_container {
    grid-row: 2/3;
    text-align: left;
    font-size: medium;
    display: grid;
    grid-template-rows: 2fr 1fr;
  }

  .mission .missiontext_container .left {
    grid-row: 1/2;
    justify-content: left;
    width: 100%;
    padding-top: 200px;
  }
  .mission .missiontext_container .right {
    grid-row: 2/3;
    width: 100vw;
    row-gap: 20px;
    text-align: left;
    font-size: 14px;
    list-style-type: square;
    margin-left: -190px;
  }
  .mission .missiontext_container .right ::marker {
    color: rgb(241, 33, 168);
  }

  .mission .container {
    grid-row: 1/2;
    position: absolute;
    left: 100px;
  }

  .mission .container .box {
    position: relative;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: transparent;
    border: 1.5px solid #e4e1e1;
    box-sizing: border-box;
  }

  .mission .container .box p {
    padding: 0px 20px 5px 10px;
    font-size: 15px;
    color: rgb(244, 237, 237);
    font-weight: 900;
  }

  .mission .container .box2 {
    position: relative;
    top: 3px;
    left: 15px;
    width: 100%;
    height: 60px;
    background-color: transparent;
    border: 1.5px solid #11ebeb;
    box-sizing: border-box;
  }

  .mission .container .box2::after {
    content: "";
    height: 10px;
    width: 10px;
    background-color: aliceblue;
    color: white;
  }

  .do_it {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 6);
    gap: 50px;
    background-color: black;
    color: white;
  }

  .do_it .item {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    margin: 0 50px 0 10px;
    text-align: left;
  }

  .do_it .img_item {
    margin: 0px 50px 10px 100px;
    width: 250px;
    height: 250px;
  }
  .both_carousel_container {
    position: relative;
    overflow: hidden;
  }
}
