.article_image {
  width: 100%;
  height: 590px;
  display: block;
}

.video_player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play_button {
  position: absolute;
  top: 47%;
  left: 53%;
  transform: translate(-150%, -50%);
  z-index: 1;
  background-color: transparent;
  border: 0;
  font-size: x-large;
}

.image_textt {
  position: absolute;
  height: auto;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

.containerr {
  position: relative;
  width: 300px;
  left: -270px;
}

/* .down_arrow {
  height: 40px;
  width: 40px;
  margin: 60px auto 0 50%;
  transform: translateY(-140px);
  cursor: pointer;
} */

.boxx {
  position: relative;
  top: 10px;
  left: 300px;
  width: 80%;
  height: 70px;
  background-color: transparent;
  border: 1px solid #fbf8f8;
  box-sizing: border-box;
}

.boxx p {
  margin: 12px 0 0 -30px;
  font-size: x-large;
  color: white;
}

.boxx2 {
  position: relative;
  top: -70px;
  left: 290px;
  width: 80%;
  height: 70px;
  background-color: transparent;
  border: 1px solid #00ffff;
  box-sizing: border-box;
}

.boxx2:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 30px;
  background-color: rgb(237, 233, 233);
}

.heading_text {
  font-size: 60px;
  line-height: 0.8;
  color: white;
  text-align: left;
  margin: 0 0 0 5px;
  width: 50%;

  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.description {
  color: white;
  font-weight: 300;
  font-size: 18px;
  width: 50%;
  text-align: left;
  padding: 35px 0 0 0;
}

.more_info {
  color: white;
  padding: 20px 710px 0 0;
}

@media (max-width: 767px) {
  .article_image {
    width: 100%;
    height: 300px;
    display: block;
  }

  .image_textt {
    position: absolute;
    width: 90vw;
    top: 30%;
    left: 48%;
    z-index: 1;
  }

  .video_playerr {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .containerr {
    position: relative;
    width: 300px;
    left: -320px;
  }

  /* .down_arrow {
    height: 20px;
    width: 20px;
    margin: 30px auto 0 45%;
    transform: translateY(-60px);
  } */

  .boxx {
    position: relative;
    top: 10px;
    left: 330px;
    width: 45%;
    height: 40px;
    background-color: transparent;
    border: 1px solid #fbf8f8;
    box-sizing: border-box;
  }

  .boxx p {
    margin: 14px 0 0 25px;
    font-size: 12px;
    color: white;
  }

  .boxx2 {
    position: relative;
    top: -23px;
    left: 338px;
    width: 45%;
    height: 40px;
    background-color: transparent;
    border: 1px solid #00ffff;
    box-sizing: border-box;
  }

  .boxx2:before {
    content: "";
    position: absolute;
    top: -37px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 30px;
    background-color: rgb(237, 233, 233);
  }

  .heading_text {
    font-size: 2rem;
    line-height: 0.8;
    color: white;
    text-align: left;
    margin: 0 0 0 0px;
    width: 40%;
  }

  .description {
    color: white;
    font-weight: 300;
    font-size: 12px;
    width: 40%;
    text-align: left;
    padding: 35px 0 0 0;
  }

  .more_info {
    color: white;
    padding: 10px 10px 0 0;
    font-size: 10px;
  }
}

@media only screen and (max-width: 550px) and (min-width: 430px) {
  .image_textt {
    position: absolute;
    width: 70vw;
    top: 20%;
    left: 65%;
    z-index: 1;
  }
}
@media (max-width: 430px) {
  .image_textt {
    position: absolute;
    width: 80vw;
    top: 30%;
    left: 44%;
    z-index: 1;
  }

  .heading_text {
    font-size: 1.5rem;
    line-height: 0.8;
    color: white;
    text-align: left;
    margin: 0 0 0 0px;
    width: 60%;
  }

  .description {
    color: white;
    font-weight: 300;
    font-size: 12px;
    width: 60%;
    text-align: left;
    padding: 35px 0 0 0;
  }
}
@media (max-width: 380px) {
  .image_textt {
    position: absolute;
    width: 90vw;
    top: 30%;
    left: 45%;
    z-index: 1;
    padding-left: 15%;
  }

  .heading_text {
    font-size: 1.2rem;
    line-height: 0.8;
    color: white;
    text-align: left;
    margin: 0 0 0 0px;
    width: 70%;
  }

  .description {
    color: white;
    font-weight: 300;
    font-size: 12px;
    width: 70%;
    text-align: left;
    padding: 35px 0 0 0;
  }
}
