@media (min-width: 900px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
}

.home_container {
  max-width: 1500px;
  position: relative;
}

.top {
  position: absolute;
  top: 3%;
}

.image_textt {
  position: absolute;
  height: auto;
  top: 4%;
  left: 1%;
  transform: translate(0%, 7%);
  z-index: 1;
  text-align: center;
  padding-left: 2vw;
  max-width: 1000px;
  min-width: 600px;
  width: 40vw;
}

.book_now {
  color: white;
  font-size: clamp(16px, 2.5vw, 40px);
  text-transform: uppercase;
  text-align: left;
}

.heading_text {
  font-size: 60px;
  line-height: 0.8;
  color: white;
  text-align: left;
  margin: 0 0 0 -5px;
  width: 80%;
  text-transform: uppercase;
  font-family: "system-ui";
}

.description {
  color: white;
  font-weight: 300;
  font-size: 18px;
  width: 70%;
  text-align: left;
  padding: 35px 0 0 0;
  font-family: "Roboto";
}

.description h6 {
  font-weight: 100;
}

.more_info {
  color: white;
  padding: 10px 0px 0 0px;
  text-align: left;
  font-family: "Roboto";
  cursor: pointer;
}

.more_info:hover {
  color: #00e6d4;
}

/* .more_info:hover .arrow_icon {
  transform: translateX(5px) translateY(-5px);
} */

.shows {
  width: 100%;
}

@media (max-width: 900px) {
  .top {
    position: absolute;
    top: 0.4%;
    left: 2%;
  }

  .image_textt {
    position: absolute;
    height: auto;
    top: 4%;
    left: 1%;
    transform: translate(0%, 7%);
    z-index: 1;
    text-align: center;
    padding-left: 2vw;
    max-width: 600px;
    min-width: 200px;
    width: 80vw;
  }

  .book_now {
    color: white;
    font-size: clamp(16px, 2.5vw, 40px);
    text-transform: uppercase;
    text-align: left;
    font-family: "system-ui";
  }

  .heading_text {
    font-size: 60px;
    line-height: 0.8;
    color: white;
    text-align: left;
    margin: 0 0 0 -5px;
    width: 100%;
    text-transform: uppercase;
    font-family: "system-ui";
    font-size: clamp(16px, 5vw, 50px);
  }

  .description {
    color: white;
    font-weight: 300;
    font-size: clamp(10px, 3vw, 24px);
    width: 100%;
    text-align: left;
    padding: 35px 0 0 0;
    font-family: "Roboto";
  }

  .more_info {
    color: white;
    padding: 10px 10px 0 0;
    font-size: 10px;
  }
}

@media (max-width: 630px) {
  .image_textt {
    position: absolute;
    top: 6%;
    left: 6%;
    transform: translate(0%, 8%);
    z-index: 1;
  }

  .heading_text {
    font-size: clamp(12px, 6vw, 54px);
    line-height: 0.8;
    color: white;
    text-align: left;
    margin: 0 0 0 0px;
    width: 80%;
  }

  .description {
    color: white;
    font-weight: 300;
    font-size: 12px;
    width: 60%;
    text-align: left;
    padding: 35px 0 0 0;
    display: none;
  }
}

@media (max-width: 300px) {
  .image_textt {
    position: absolute;
    top: 0%;
    left: 1%;
    transform: translate(0%, 8%);
    z-index: 1;
    width: 100vw;
  }

  .heading_text {
    width: 80%;
  }

  .description {
    color: white;
    font-weight: 300;
    font-size: 12px;
    width: 90%;
    text-align: left;
    padding: 20px 0 0 0;
  }
}
