.article_image {
  height: 320px;
  max-height: 320px;
  margin: 30px 20px 20px 20px;
  max-width: 450px;
  transform: translateX(-250px);
}

.product_carousel {
  position: relative;
  overflow: hidden;
  background-color: white;
}

.product_container {
  margin: 40px 0 40px 0;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.pre_btn,
.next_btn {
  border: none;
  width: 40px;
  height: 50px;
  position: absolute;
  top: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 10px 0px 10px 10px;
  transition: background-color 0.4s ease;
  cursor: pointer;
  z-index: 2;
}

.pre_btn:hover {
  background-color: #00e4d6;
}

.next_btn:hover {
  background-color: #00e4d6;
}

.next_btn {
  padding: 10px 10px 10px 0px;
  right: 0;
}

.next_btn p,
.pre_btn p {
  font-size: 50px;
  background-color: rgb(11, 11, 11);
  color: rgb(247, 244, 244);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@media (max-width: 450px) {
  .article_image {
    height: 290px;
    width: 90vw;
    margin: 30px 20px 20px 50px;
  }
}
