.show_more {
  margin: 50px auto 50px auto;
  transition: color 0.2s ease;
  color: white;
  font-family: "system-ui";
  text-align: center;
}

.show_more:hover {
  color: #00e6d4;
}

.show_more span {
  padding-left: 50px;
}

.plus_image {
  height: 40px;
  width: 40px;
  padding-bottom: 10px;
}

.show_more .vee {
  transform: translate(-47px, 15px);
  opacity: 0;
  transition: opacity 0.2s linear;
}

.show_more:hover .color_change path {
  fill: #00e6d4;
}

.show_more:hover .vee {
  opacity: 1;
}

@media (max-width: 900px) {
  .show_more span {
    color: #11ebeb;
    font-size: 50px;
    margin-left: 30%;
    cursor: pointer;
    padding-left: 0;
  }

  .show_more .vee {
    transform: translate(21px, -51px);
    opacity: 0;
    transition: opacity 0.2s linear;
  }
}
