.carousel_container {
  width: 100%;
  margin: 40px 0 0px 0;
  padding: 0 0 100px 0;
}

.carousel_images {
  height: 100%;
  min-height: 250px;
  width: 90%;
  min-width: 300px;
  margin: 0 0 0 0px;
  border-radius: 5%;
  padding-left: 50px;
  position: relative;
  cursor: pointer;
}

.overlay_title {
  position: absolute;
  top: 30%;
  left: 20%;
  color: white;
  font-size: clamp(16px, 3vw, 50px);
  font-family: "system-ui";
  cursor: pointer;
}

@media (max-width: 900px) {
  .carousel_images {
    height: 100%;
    min-height: 250px;
    width: 90%;
    min-width: 300px;
    margin: 0 0 0 0px;
    border-radius: 5%;
    padding-left: 10px;
  }
}
