.carousel_container {
  width: 100%;
  margin: 40px 0 0px 0;
  padding: 0 0 100px 50px;
}

.image_container {
  height: 221px;
  min-height: 150px;
  min-width: 100px;
  margin: auto;
  cursor: pointer;
}

.carousel_images {
  height: 100%;
  min-height: 150px;
  width: 90%;
  min-width: 100px;
  border-radius: 5%;
  position: relative;
  object-fit: fill;
  cursor: pointer;
}

.image_container::after {
  content: "";
  height: 100%;
  width: 90%;
  display: block;
  color: white;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 5%;
  transition: background-color 0.4s ease, opacity 0.4s ease;
  pointer-events: none;
}

.image_container:hover::after {
  opacity: 0.7;
  background-color: #c3006b;
  z-index: 0;
}

.overlay_title {
  position: absolute;
  top: 15%;
  left: 10%;
  color: white;
  font-size: clamp(16px, 2.5vw, 50px);
  width: 70%;
  font-family: "system-ui";
  cursor: pointer;
  z-index: 1;
  font-weight: 600;
}

@media (max-width: 900px) {
  .carousel_container {
    width: 100%;
    margin: 40px 0 0px 0;
    padding: 0 0 100px 0px;
  }

  .image_container::after {
    content: "";
    height: 100%;
    width: 90%;
    display: block;
    color: white;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 10px;
    border-radius: 5%;
    transition: background-color 0.4s ease, opacity 0.4s ease;
  }

  .carousel_images {
    height: 100%;
    min-height: 250px;
    width: 90%;
    min-width: 300px;
    margin: 0 0 0 0px;
    border-radius: 5%;
    padding-left: 10px;
  }

  .overlay_title {
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
    font-size: clamp(16px, 5vw, 50px);
    font-family: "system-ui";
    cursor: pointer;
    z-index: 1;
    font-weight: 600;
  }
}

@media (max-width: 664px) {
  .image_container {
    height: 50vw;
    min-height: 150px;
    min-width: 100px;
    margin: auto;
    cursor: pointer;
  }

  .carousel_images {
    height: 100%;
    min-height: 150px;
    width: 90%;
    min-width: 100px;
    border-radius: 5%;
    position: relative;
    object-fit: fill;
    cursor: pointer;
  }

  .overlay_title {
    position: absolute;
    top: 10%;
    left: 15%;
    color: white;
    font-size: clamp(16px, 6vw, 80px);
    font-family: "system-ui";
    cursor: pointer;
    z-index: 1;
    font-weight: 600;
  }
}
