.article_image {
  height: 90px;
  margin: 20px 20px 20px 20px;
  border-radius: 50%;
}

.product_carousel {
  position: relative;
  overflow: hidden;
}

.product_container {
  margin: 40px 0 40px 0;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.pre_btn,
.next_btn {
  border: none;
  width: 40px;
  height: 50px;
  position: absolute;
  top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 242, 242);
}

.next_btn {
  right: 0;
}

.next_btn p,
.pre_btn p {
  font-size: 50px;
  background-color: rgb(255, 255, 255);
  color: rgb(8, 1, 1);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.brand_img_container {
  background-color: white;
  border-radius: 50%;
  margin: 0 15px 0 15px;
}
