@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

.container {
  align-items: center;
  display: grid;
  height: 100vh;
  min-height: 800px;
  font-family: system-ui;
  justify-content: center;
  background-color: black;
  color: white;
  position: relative;
  max-height: 500px;
}

.hanging_container {
  z-index: 11;
  position: absolute;
  top: 0;
  width: 330px;
}

.box {
  position: relative;
  top: 45px;
  left: 123px;
  width: 80%;
  height: 70px;
  background-color: transparent;
  border: 1.5px solid #f7f1f1;
  box-sizing: border-box;
}

.box p {
  margin: 22px 0 0 25px;
  font-size: 20px;
  color: rgb(242, 241, 241);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.box2 {
  position: relative;
  top: -15px;
  left: 135px;
  width: 80%;
  height: 70px;
  background-color: transparent;
  border: 1.5px solid #11ebeb;
  box-sizing: border-box;
}

.box2:before {
  content: "";
  position: absolute;
  top: -67px;
  left: 45%;
  transform: translateX(-50%);
  width: 1px;
  height: 65px;
  background-color: rgb(230, 223, 223);
}

.carousel__list {
  align-items: end;
  display: grid;
  grid-row-gap: 1.25rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  max-width: 80rem;
  overflow: hidden;
  padding: 10rem 0 0 0rem;
  list-style-type: none;
  position: relative;
}

.carousel__item {
  grid-column: 1;
  grid-row: 1;
  line-height: 1.2;
  text-align: center;
  transition: transform 1.5s;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.left_arrow {
  position: absolute;
  top: 130px;
  left: 0px;
  height: 40px;
  width: 40px;
  background-color: #1c2222e9;
  padding: 10px 0 10px 10px;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.left_arrow:hover {
  background-color: #00e4d6;
}

.right_arrow {
  position: absolute;
  top: 130px;
  right: 0;
  height: 40px;
  width: 40px;
  padding: 10px 10px 10px 0px;
  transition: background-color 0.4s ease;
  cursor: pointer;
  background-color: #1c2222ed;
}

.right_arrow:hover {
  background-color: #00e4d6;
}

.carousel__item.active {
  transform: translateX(0);
}

.carousel__item.left {
  transform: translateX(-110%);
}

.carousel__item.right {
  transform: translateX(110%);
}

.selfimg {
  height: 420px;
  width: 450px;
}

.carousel__indicator {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 2;
  justify-self: center;
  align-items: start;
  margin-top: 1rem;
}

.carousel__dot {
  background-color: #01070d;
  border-radius: 0%;
  border: 0.0625rem solid #f5f9fd;
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  cursor: pointer;
}

.carousel__dot.active {
  background-color: #00e6d4;
}

.carousel__quote {
  line-height: 1.5;
  padding: 10px 0 0 150px;
  text-align: left;
  font-family: "Roboto";
  margin: auto 0 auto 40px;
}

.carousel__quote .heading {
  font-size: 55px;
  line-height: 1;
}

.carousel__quote .description {
  width: 95%;
  font-size: 15px;
}

.carousel__quote h3 {
  display: inline-block;
  padding-top: 20px;
  padding-right: 20px;
}

.carousel__quote h3:hover {
  color: #00e6d4;
}

.carousel__quote h3:hover .arrow_icon {
  transform: translateX(5px) translateY(-5px);
}

.link {
  color: white;
}

@media (max-width: 900px) {
  .container {
    align-items: center;
    display: grid;
    min-height: 900px;
    max-height: none;
    font-family: system-ui;
    justify-content: center;
    background-color: rgb(14, 14, 1);
    color: white;
    position: relative;
    padding-bottom: 50px;
  }

  .hanging_container {
    z-index: 11;
    position: absolute;
    top: 0;
    width: 300px;
  }

  .box {
    position: relative;
    top: 45px;
    left: 10px;
    width: 80%;
    height: 50px;
    background-color: transparent;
    border: 1.5px solid #f7f1f1;
    box-sizing: border-box;
  }

  .box p {
    margin: 13px 0 0 39px;
    font-size: 18px;
    color: rgb(242, 241, 241);
    font-weight: 500;
  }

  .box2 {
    position: relative;
    top: 5px;
    left: 20px;
    width: 80%;
    height: 50px;
    background-color: transparent;
    border: 1.5px solid #11ebeb;
    box-sizing: border-box;
  }

  .box2:before {
    content: "";
    position: absolute;
    top: -57px;
    left: 40%;
    transform: translateX(-50%);
    width: 1.3px;
    height: 45px;
    background-color: rgb(230, 223, 223);
  }

  .carousel__list {
    align-items: end;
    display: grid;
    grid-row-gap: 1.25rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 70rem;
    overflow: hidden;
    padding: 2rem 0 0 0rem;
    list-style-type: none;
    position: relative;
  }

  .carousel__item {
    line-height: 1.2;
    text-align: center;
    transition: transform 1.2s;
    z-index: 10;
    display: grid;
    grid-template-rows: 1fr 550px;
    grid-template-columns: auto;
  }

  .left_arrow {
    position: absolute;
    top: 48%;
    left: 5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

  .right_arrow {
    position: absolute;
    top: 48%;
    right: 5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

  .carousel__item.active {
    transform: translateX(0);
  }

  .carousel__item.left {
    transform: translateX(-110%);
  }

  .carousel__item.right {
    transform: translateX(110%);
  }

  .carousel__indicator {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    align-items: start;
    margin-top: 1rem;
  }

  .carousel__quote {
    line-height: 1.5;
    padding: 25% 10px 10px 0px;
    text-align: left;
  }

  .carousel__quote h3 {
    display: inline-block;
    padding-top: 20px;
    padding-right: 20px;
  }

  .link {
    color: white;
  }

  .carousel_img {
    margin: 40px 0 10px 0px;
    text-align: center;
  }

  .carousel_img img {
    height: auto;
    width: 60%;
    margin: 0 auto 0 auto;
  }
}

@media (max-width: 600px) {
  .carousel__item {
    line-height: 1.2;
    text-align: center;
    transition: transform 1.2s;
    z-index: 10;
    display: grid;
    grid-template-rows: 1fr 450px;
    grid-template-columns: auto;
  }

  .carousel__quote .heading {
    font-size: 35px;
  }

  .carousel_img {
    margin: 40% 0 10px 0px;
    text-align: center;
  }

  .carousel_img img {
    height: auto;
    width: 60%;
    margin: 0 auto 0 auto;
  }
}
