.container {
  background-color: black;
  border: none;
}

.down_arrow {
  height: 40px;
  width: 40px;
  margin: 40px auto 0 auto;
  padding-left: 48%;
  cursor: pointer;
  transition: transform 0.4s ease;
  transform: translateY(-140px);
}

.down_arrow:hover {
  transform: translateY(-130px);
}

@media (max-width: 900px) {
  .down_arrow {
    height: 20px;
    width: 20px;
    margin: 0px auto 0 auto;
    padding-left: 49%;
    transform: translateY(-20px);
  }
}

/* @media (max-width: 767px) {
  .down_arrow {
    height: 20px;
    width: 20px;
    margin: 0px auto 0 auto;
    padding-left: 45%;
    transform: translateY(-20px);
  }
} */

@media (max-width: 500px) {
  .down_arrow {
    height: 40px;
    width: 40px;
    padding-left: 45%;
    transform: translateY(-80px);
  }

  .down_arrow:hover {
    transform: translateY(-90px);
  }
}
