* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 15px 0 10px 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  font-size: 15px;
  display: inline-block;
  margin: -4px 0 0 50px;
  padding: 0;
  transform: rotate(-50deg);
}

.logo p {
  font-weight: 700;
  line-height: 0.9;
  color: white;
}

.logo p span {
  font-weight: 100;
  color: grey;
}

.menu_icon {
  display: none;
  cursor: pointer;
}

.menu_icon img {
  width: 30px;
  height: 25px;
  filter: invert(100%);
}

.menu_icon .line:nth-child(1) {
  top: 0;
}

.menu_icon .line:nth-child(2) {
  top: 7px;
}

.menu_icon .line:nth-child(3) {
  bottom: 0;
}

.nav_items {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav_items li {
  color: white;
  margin-right: 10px;
}

.nav_items li.active {
  background-color: #223140;
  border-radius: 5px;
  padding: 10px 10px 0px 10px;
  text-decoration: underline;
  text-decoration-color: rgb(6, 117, 172);
  text-underline-offset: 0.2em;
}

.nav_items li:last-child {
  margin-right: 0;
}

.nav_items a {
  font-weight: 800;
  text-decoration: none;
  color: #faf8f8;
}

.search_icon {
  display: inline-block;
  color: #faf8f8;
  margin: 1px 50px 0 0;
}

/* Responsive Styles */
@media (max-width: 767px) {
  * {
    text-align: left;
  }
  .navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 40px 0 10px 0;
  }

  .logo {
    display: none;
  }

  .menu_icon {
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
    /* right: 10px; */
  }

  .nav_items {
    display: none;
    margin-left: 35%;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    overflow-y: hidden;
  }

  html {
    overflow-x: hidden;
  }
  .nav_items.open {
    display: flex;
    overflow-x: hidden;
  }

  .search_icon {
    display: none;
  }
}
