@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

.container {
  align-items: center;
  display: grid;
  grid-template-rows: 3fr 1fr;
  height: 80vh;
  max-height: 900px;
  font-family: system-ui;
  justify-content: center;
  background-color: #00e6d4;
  background-image: url("./Mask Group 28.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.carousel__list {
  align-items: end;
  display: grid;
  grid-row-gap: 1.25rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  max-width: 100%;
  overflow: hidden;
  list-style-type: none;
  padding-top: 80px;
}

.carousel__item {
  grid-column: 1;
  grid-row: 1;
  line-height: 1.2;
  text-align: center;
  transition: transform 1.2s;
  z-index: 10;
  margin: 10px 100px 10px 100px;
}

.carousel__item.active {
  transform: translateX(0);
}

.carousel__item.left {
  transform: translateX(-110%);
}

.carousel__item.right {
  transform: translateX(110%);
}

.carousel__indicator {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 2;
  justify-self: center;
  align-items: start;
}

.carousel__dot {
  background-color: #00e6d4;
  border-radius: 0%;
  border: 0.0925rem solid #696a6b;
  display: block;
  height: 0.2rem;
  width: 0.6rem;
  cursor: pointer;
}

.carousel__dot.active {
  background-color: #2d3333;
}

.carousel__name {
  display: block;
  font-style: normal;
  font-weight: 600;
  margin: 20px 0 10px 0;
  font-family: "Roboto";
}

.carousel__quote {
  font-style: italic;
  line-height: 1.5;
}

.carousel__quote p {
  font-family: "Roboto";
}

@media (max-width: 900px) {
  .container {
    align-items: center;
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: 80vh;
    max-height: 500px;
    font-family: system-ui;
    justify-content: center;
    background-color: #00e6d4;
  }

  .carousel__list {
    align-items: end;
    display: grid;
    grid-row-gap: 1.25rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    width: 100vw;
    overflow: hidden;
    padding: 0 0 0 0rem;
    list-style-type: none;
    padding-top: 80px;
  }

  .carousel__item {
    grid-column: 1;
    grid-row: 1;
    line-height: 1.2;
    text-align: center;
    transition: transform 0.2s;
    width: 100vw;
    z-index: 10;
    margin: 10px 0px 10px 20px;
  }

  .carousel__item.active {
    transform: translateX(0);
  }

  .carousel__item.left {
    transform: translateX(-110%);
  }

  .carousel__item.right {
    transform: translateX(110%);
  }

  .carousel__indicator {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 2;
    justify-self: center;
    align-items: start;
  }

  .carousel__name {
    display: block;
    font-style: normal;
    font-weight: 600;
    margin: 20px 0 10px 0;
  }

  .carousel__quote {
    font-style: italic;
    line-height: 1.5;
    margin: 0 50px 0 0;
  }
}
