.img {
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 91vh;
  right: 20px;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.2s ease;
}

.img:hover {
  transform: translateY(-5px);
}

@media (max-width: 450px) {
  .img {
    top: 90vh;
    right: 30px;
  }
}
