.suggestion_article {
  align-items: center;
  display: grid;
  height: 110vh;
  font-family: system-ui;
  /* justify-content: center; */
  background-color: black;
  color: white;
  position: relative;
}

.hanging_container {
  z-index: 11;
  position: absolute;
  top: 0;
  width: 300px;
}

.box {
  position: relative;
  top: 55px;
  left: 180px;
  width: 80%;
  height: 80px;
  background-color: transparent;
  border: 1.5px solid #f7f1f1;
  box-sizing: border-box;
}

.box p {
  margin: 22px 0 0 0px;
  font-size: 30px;
  color: rgb(242, 241, 241);
  font-weight: 700;
}

.box2 {
  position: relative;
  top: -15px;
  left: 200px;
  width: 80%;
  height: 80px;
  background-color: transparent;
  border: 1.5px solid #11ebeb;
  box-sizing: border-box;
}

.box2:before {
  content: "";
  position: absolute;
  top: 30px;
  left: -45%;
  transform: translateX(-50%);
  width: 175px;
  height: 2px;
  background-color: rgb(230, 223, 223);
}
